body .ui-autocomplete {
    z-index: 1060;
    max-width: 568px;
}

.btn-s {
    color: #337ab7;
    cursor: pointer;
    margin-left: 5px
}

.btn-s:hover {
    color: #0a0a0a;
}

.btn-center {
    text-align: center;
}