/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Ubuntu:300,400,700&subset=cyrillic');
$opensans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$lato: 'Lato', sans-serif;

/*COLORS*/
$white: #fff;
$blue: #0088d4;
$pink: #97185d;
$silver: #333333;
$orange: #edb121;
$lightSilver: #e2e2e2;
$red: #ff0101;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin border_radius($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}
@mixin box_shadow($blur, $color) {
  -webkit-box-shadow: 0 0 $blur 0 $color;
  -moz-box-shadow: 0 0 $blur 0 $color;
  box-shadow: 0 0 $blur 0 $color;
}

.user-profile-create {
  @include border_radius(20px);
  margin: 30px 0 !important;
  background: #f5f5f5;
  overflow: hidden;
  #setting {
    display: flex;
    flex-direction: column;
    width: 100%;
    .head-title {
      width: 100%;
      text-align: center;
      font-size: 28px;
      line-height: 65px;
      background: $blue;
      color: $white;
    }
    .user-profile-form {
      padding: 20px 20px 25px;
      position: relative;
      form {
        border: none;
        .form-group {
          @include flex(row);
          align-items: center;
          margin: 15px 0;
          label {
            width: 50%;
            font-size: 16px;
            font-weight: normal;
            color: #333333;
          }
          input[type=text] {
            width: 50%;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            height: auto;
            padding: 0;
            line-height: 40px;
            text-align: center;
            border: none;
            background: #dde0e5;
            color: #333333;
            outline: none;
          }
          input[type=password] {
            @include border_radius(20px);
            height: auto;
            padding: 0;
            line-height: 40px;
            text-align: center;
            border: none;
            background: #dde0e5;
            color: #333333;
            outline: none;
            &#old_pass {
              background: #dde0e5 url('/images/lock-icon.png') no-repeat left;
              background-position-x: 20px;
            }
            &#new_pass {
              background: #dde0e5 url('/images/unlock-icon.png') no-repeat left;
              background-position-x: 20px;
            }
            &#repeat_pass {
              background: #dde0e5 url('/images/lock-icon-copy 2.png') no-repeat left;
              background-position-x: 20px;
            }
          }
          select {
            width: 50%;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            height: 40px;
            text-align: center;
            border: none;
            background: #dde0e5;
            color: #333333;
            outline: none;
          }
          button[type=submit].btn-primary {
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 0;
            font-size: 25px;
            padding: 10px 50px;
            background: #0088d4;
          }
        }
      }
    }
  }
}