/*FONT*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Ubuntu:300,400,700&subset=cyrillic");
/*COLORS*/
.user-profile-create {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 30px 0 !important;
  background: #f5f5f5;
  overflow: hidden; }
  .user-profile-create #setting {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .user-profile-create #setting .head-title {
      width: 100%;
      text-align: center;
      font-size: 28px;
      line-height: 65px;
      background: #0088d4;
      color: #fff; }
    .user-profile-create #setting .user-profile-form {
      padding: 20px 20px 25px;
      position: relative; }
      .user-profile-create #setting .user-profile-form form {
        border: none; }
        .user-profile-create #setting .user-profile-form form .form-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 15px 0; }
          .user-profile-create #setting .user-profile-form form .form-group label {
            width: 50%;
            font-size: 16px;
            font-weight: normal;
            color: #333333; }
          .user-profile-create #setting .user-profile-form form .form-group input[type=text] {
            width: 50%;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            height: auto;
            padding: 0;
            line-height: 40px;
            text-align: center;
            border: none;
            background: #dde0e5;
            color: #333333;
            outline: none; }
          .user-profile-create #setting .user-profile-form form .form-group input[type=password] {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            height: auto;
            padding: 0;
            line-height: 40px;
            text-align: center;
            border: none;
            background: #dde0e5;
            color: #333333;
            outline: none; }
            .user-profile-create #setting .user-profile-form form .form-group input[type=password]#old_pass {
              background: #dde0e5 url("/images/lock-icon.png") no-repeat left;
              background-position-x: 20px; }
            .user-profile-create #setting .user-profile-form form .form-group input[type=password]#new_pass {
              background: #dde0e5 url("/images/unlock-icon.png") no-repeat left;
              background-position-x: 20px; }
            .user-profile-create #setting .user-profile-form form .form-group input[type=password]#repeat_pass {
              background: #dde0e5 url("/images/lock-icon-copy 2.png") no-repeat left;
              background-position-x: 20px; }
          .user-profile-create #setting .user-profile-form form .form-group select {
            width: 50%;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            height: 40px;
            text-align: center;
            border: none;
            background: #dde0e5;
            color: #333333;
            outline: none; }
          .user-profile-create #setting .user-profile-form form .form-group button[type=submit].btn-primary {
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 0;
            font-size: 25px;
            padding: 10px 50px;
            background: #0088d4; }

/*# sourceMappingURL=profile.css.map */
