a {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  &:hover {
    text-decoration: none;
  }
}
.qway-profile-main {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;

  .qway-profile-main-left-menu {
    width: 20%;
    background-color: #fff;
    border-radius: .5em;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: stretch;
        list-style: none;

        border-bottom: 1px solid #555;
        &:last-child {
          border-bottom: 0;
        }
        > a {
          //align-self: center;
          width: 100%;
          height: 4em;
          padding: 1.3em 0 0 2em;
          &:hover {

            background-color: #0089D9;
            color: #fff;
          }
        }
      }
      .active {
        > a {
          background-color: #0089D9;
          color: #fff;
        }
      }
    }
  }

  .user-profile-header {
    height: 16.2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-left: 5%;
    > a {
      display: flex;
      font-size: 2em;
      width: 30%;
      text-align: center;
      border: 1px solid #fff;
      border-radius: .2em;
      color: #fff;
      justify-content: center;
      align-items: center;
      &:hover {
        color: #0089D9;
        border-color: #0089D9;
      }
    }
  }

  .qway-profile-main-content {
    width: 100%;
    .profile-travel-history-table {
      margin-top: 2em;
      table {
        border: 0;

        thead {
          background-color: #0089D9;
          color: #fff;
          th {
            height: 3em;
            border: 0;
            border-right: 1px solid #fff;
            vertical-align: middle;
            &:last-child {
              border: 0;
            }
          }
          a {
            color: #fff;
          }

        }
        tbody {
          .profile-travel-history-row {
            background-color: #fff;
            min-height: 5em;
            height: 5em;
            > td {
              vertical-align: middle;
            }
          }
          &:before {
            content: "-";
            display: block;
            line-height: 1em;
            color: transparent;
          }
        }
      }

      //background-color: #fff;

    }

    .profile-coming-trips {
      .coming-trips-item {
        display: flex;
        width: 100%;
        background-color: #fff;
        margin: 2em 0;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        border-radius: .5em;

        .coming-trips-item-header {
          padding: 1em;
          background-color: #0089d9;
          color: #fff;
          font-weight: 600;
        }
        .coming-trips-item-body {
          padding: 1em;
          .departure {
            width: 10%;
          }
          .terminal {
            width: 10%;
          }
          .equipment {
            width: 20%;
          }
          .bort-class {
            width: 10%;
          }
          .date {
            width: 20%;
          }
          .fullname {
            width: 20%;
          }
          .status {
            width: 10%;
          }
          .coming-trips-item-body-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
          }
          .coming-trips-item-body-content {
            display: flex;
            justify-content: space-between;
          }
        }
        .coming-trips-item-footer {
          padding: 1em;
          > button {
            margin: 0 2em;
            border-radius: 1.5em;
            &:first-child {
              margin: 0;
            }
          }
        }
      }
    }

    .user-profile-update {
      background-color: #fff;
    }
  }
}