#site-index {
  //background: url(/images/bl-bg.jpg) repeat-x;
  //background-position-y: 50%;
}

.navbar-right-custom {
  margin-right: 6em;
}

.navbar-left-custom {
  margin-left: 6em;
}

.qway-logout {
  color: white !important;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none !important;
  &:hover {
    background: #3875a7;
  }
}

.qway-wrap {
  @include search-flight-wrap();
}

#pre-footer {
  @include search-flight-wrap();
  margin-top: 0;
  .wrap {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-top: 7em;
    .col-wrap {
      margin: 0;
      padding: 0;
      width: 20%;
      ul {
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
  }

}

#footer {
  margin-top: 5em;
  .main {
    .navbar-footer-custom {
      margin: 0 16.5em 0 16.5em ;
    }
    color: white;
    a {
      color: white;
      &:hover {
        color: rgb(48, 101, 144);
      }
    }
    .contact {
      width: 50%;
      margin: 2em auto 0 auto;
      padding: 0 1em 0 2em;
      display: flex;
      .child {
        width: 50%;
        #feedback {
          padding-bottom: 2em;
          .input {
            display: flex;
            input {
              width: 50%;
              margin: .5em;
            }
          }
          textarea {
            margin: .5em;
            width: 97%;
          }
          .submit {
            text-align: center;
          }
        }
      }
    }

  }

  .copy {
    padding: 1em;
    text-align: center;
    color: #306590;
    background: #fff;
  }
}

.site-offer {
  li {
    list-style: none;
    padding: .5em 0;
  }
}

.payment-logo {
  width: 50%;
  margin: auto;
  padding-bottom: .3em;
  //text-align: center;
  //height: 80px;
  display: flex;
  justify-content: center;
  font-size: 3em;
  span {
    margin: 0 .2em;
    img {
      /*background-color: rgba(255, 255, 255, .6);*/
      width: 2em;
      //-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      //filter: blur(1px) grayscale(20%);
      //border-radius: 5px;
    }
    &:last-child {
      padding-top: .5em;
      font-size: .3em;
      align-self: center;
      a {
        color: #fff;
      }
    }
  }
  /*.item {

      //overflow: hidden;
      //height: 100vh;
      //display: inline-block;
      !*margin: 0 2em;
      background-color: #fff;
      img {
          max-width: 80px;
      }*!
  }*/
  /*img {
      max-width: 80px;
      margin: 0 2em;
  }*/
}


