@mixin border_radius ($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}

input[type=file].reg-file {
  display: none;
}

.center {
  text-align: center;
}

#webapp-documents-container {
  .doc-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .docs-item {
      display: flex;
      align-items: center;
      width: 30%;
      min-height: 150px;
      margin-bottom: 10px;
      border: 1px solid #acacac;
      @include border_radius(6px);
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}