input[type=file].reg-file {
  display: none; }

.center {
  text-align: center; }

#webapp-documents-container .doc-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  #webapp-documents-container .doc-list .docs-item {
    display: flex;
    align-items: center;
    width: 30%;
    min-height: 150px;
    margin-bottom: 10px;
    border: 1px solid #acacac;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden; }
    #webapp-documents-container .doc-list .docs-item img {
      width: 100%; }

/*# sourceMappingURL=agency.css.map */
