
/* ========================================================================
 * Default yii style
 * ======================================================================== */

html {
    background-image: url("/images/background.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
body {
    //height: 100%;
    background-color: rgba(2, 48, 62, .1);
}

.overlay {

   /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;*/
}
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 6em;
    background: rgba(2, 48, 62, .6);
    #qway-header-nav {
        background: transparent;
        border: 0;
        border-radius: 0;
        width: 100%;
        padding-top: 1.2em;
        .container {
            #qway-header-nav-collapse {
                width: 85%;
                margin: auto;
                .navbar-nav {
                    margin: 0;
                }
                .navbar-left-custom {
                    width: 25%;
                }
                .navbar-center-custom {
                    width: 50%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    li {
                        width: 15%;
                        text-align: center;
                        border: 1px solid #fff;
                        overflow: hidden;
                        &:first-child {
                            border-radius: 2em 0 0 2em;
                        }
                        &:last-child {
                            border-radius: 0 2em 2em 0;
                        }
                    }
                }
                .navbar-right-custom {
                    li {
                        margin: 0 1em 0 1em;

                    }
                    .sign-up-button {
                        margin: 0;
                        padding: 0 .5em;
                    }
                    .login-button {
                        .dropdown-menu {
                            min-width: 300px;
                            background-color: #fff;
                            border-radius: .5em;
                            overflow: hidden;
                            padding: 0;
                            h3, h4, p {
                                margin: 0;
                            }
                            .login-form-wrap {
                                margin: 0;
                                .login-form-header {
                                    text-align: center;
                                    padding: .5em 0;
                                    color: #fff;
                                    background-color: #489ce5;
                                    width: 100%;
                                }
                                .login-form-body {
                                    .form-group {
                                        margin-top: 1em;
                                    }
                                    input[type=text], input[type=password] {
                                        border-radius: 2em;
                                        height: 3em;
                                        padding-left: 2em;
                                    }
                                    button {
                                        border-radius: 2em;
                                        padding: .5em 3em;
                                        margin-top: .5em;

                                    }
                                    .login-form-additional {
                                        font-size: .9em;
                                        display: flex;
                                        justify-content: space-between;
                                        margin-top: 1em;
                                        > div {
                                            margin: 0;
                                            .checkbox {
                                                margin: 0;
                                            }
                                        }
                                        .reset-password-button {
                                            color: #3375a3;

                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown {
                        //float: right;
                        border: 1px solid #fff;
                        border-radius: 2em;
                        padding: 0 1em;
                    }
                }
            }
        }


        a {
            color: #fff;
            background: transparent;
        }
        .active {
            a {
                background: rgba(2, 48, 62, .4);
            }
        }
        .dropdown-menu {
            background-color: rgba(2, 48, 62, .6);
            margin-top: 2em;
            -webkit-box-shadow: 0px 0px 11px 0px rgba(2,48,62,1);
            -moz-box-shadow: 0px 0px 11px 0px rgba(2,48,62,1);
            box-shadow: 0px 0px 11px 0px rgba(2,48,62,1);
            li {
                padding: .5em 0;
                border: 0 !important;
                width: 100%;
                margin: 0 !important;
                form {
                    button {
                        width: 100%;
                        padding: 3px 20px;
                        text-align: left;
                        &:hover {
                            background-color: rgba(2, 48, 62, 0.6);
                        }
                    }
                }
            }
        }
    }
}



.wrap {
    //min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    #logo {
        text-align: center;
        padding-top: 2em;
        color: #fff;
        img {
            width: 10%;
        }
        h2 {
            //background: rgba(2,48,62,.5);
            /*-webkit-box-shadow: 0px 0px 11px 0px #02303e;
            -moz-box-shadow: 0px 0px 11px 0px #02303e;
            box-shadow: 0px 0px 11px 0px #02303e;
            -webkit-text-shadow: -2px 0px 7px rgba(2, 48, 62, 1);
            -moz-text-shadow: -2px 0px 7px rgba(2, 48, 62, 1);
            text-shadow: -2px 0px 7px rgba(2, 48, 62, 1);*/
        }
    }
    #logo.mini {
        display: none;
    }
    .page-description {
        text-align: center;
        color: #fff;
        padding-bottom: 2em;
        h3 ,h4 {
            margin: 0;
        }
    }
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ========================================================================
 * Custom layout style
 * ======================================================================== */

//#header-logo {
//    width: 49%;
//    margin: 0 auto;
//    display: flex;
//    align-items: center;
//    padding-right: .3em;
//    .qway-logo {
//        width: 50%;
//        a {
//            img {
//                /*width: 100%;*/
//                height: 3em;
//            }
//            p {
//                color: #1b3b55;
//                padding: 0;
//                margin: 0;
//            }
//        }
//        /*text-align: center;*/
//
//    }
//    .header-user-email {
//        text-align: right;
//        width: 50%;
//    }
//}



.navbar {
    margin-bottom: 5px;
}

.form-group {
    margin: 0;
}

.site-request-password-reset {
    #logo {
        img {
            width: 5%;
        }
    }
    #form-signup, #request-password-reset-form {
        background-color: #fff;
        padding: .5em 2em 2em 2em;
        border-radius: .5em;
        .form-group {
            margin-top: 1em;
        }
        input {
            border-radius: 2em;
        }
        button {
            width: 100%;
            border-radius: 2em;
        }
    }
}

