/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Ubuntu:300,400,700&subset=cyrillic');
$opensans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$lato: 'Lato', sans-serif;

/*COLORS*/
$white: #fff;
$blue: #0088d4;
$pink: #97185d;
$silver: #333333;
$orange: #edb121;
$lightSilver: #e2e2e2;
$red: #ff0101;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin border_radius($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}
@mixin box_shadow($blur, $color) {
  -webkit-box-shadow: 0 0 $blur 0 $color;
  -moz-box-shadow: 0 0 $blur 0 $color;
  box-shadow: 0 0 $blur 0 $color;
}

.site-payment-methods {
  margin: 30px auto !important;
  color: $white;
  a {
    color: #fff;
  }
  .nav-tabs {
    li {
      a {
        padding: 10px;
        color: $white;
        &:hover {
          background: none;
        }
      }
    }
  }
}