/*FONT*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Ubuntu:300,400,700&subset=cyrillic");
/*COLORS*/
.site-payment-methods {
  margin: 30px auto !important;
  color: #fff; }
  .site-payment-methods a {
    color: #fff; }
  .site-payment-methods .nav-tabs li a {
    padding: 10px;
    color: #fff; }
    .site-payment-methods .nav-tabs li a:hover {
      background: none; }

/*# sourceMappingURL=pay.css.map */
