a {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear; }
  a:hover {
    text-decoration: none; }

.qway-profile-main {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap; }
  .qway-profile-main .qway-profile-main-left-menu {
    width: 20%;
    background-color: #fff;
    border-radius: .5em;
    overflow: hidden; }
    .qway-profile-main .qway-profile-main-left-menu ul {
      margin: 0;
      padding: 0; }
      .qway-profile-main .qway-profile-main-left-menu ul li {
        display: flex;
        align-items: stretch;
        list-style: none;
        border-bottom: 1px solid #555; }
        .qway-profile-main .qway-profile-main-left-menu ul li:last-child {
          border-bottom: 0; }
        .qway-profile-main .qway-profile-main-left-menu ul li > a {
          width: 100%;
          height: 4em;
          padding: 1.3em 0 0 2em; }
          .qway-profile-main .qway-profile-main-left-menu ul li > a:hover {
            background-color: #0089D9;
            color: #fff; }
      .qway-profile-main .qway-profile-main-left-menu ul .active > a {
        background-color: #0089D9;
        color: #fff; }
  .qway-profile-main .user-profile-header {
    height: 16.2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-left: 5%; }
    .qway-profile-main .user-profile-header > a {
      display: flex;
      font-size: 2em;
      width: 30%;
      text-align: center;
      border: 1px solid #fff;
      border-radius: .2em;
      color: #fff;
      justify-content: center;
      align-items: center; }
      .qway-profile-main .user-profile-header > a:hover {
        color: #0089D9;
        border-color: #0089D9; }
  .qway-profile-main .qway-profile-main-content {
    width: 100%; }
    .qway-profile-main .qway-profile-main-content .profile-travel-history-table {
      margin-top: 2em; }
      .qway-profile-main .qway-profile-main-content .profile-travel-history-table table {
        border: 0; }
        .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead {
          background-color: #0089D9;
          color: #fff; }
          .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead th {
            height: 3em;
            border: 0;
            border-right: 1px solid #fff;
            vertical-align: middle; }
            .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead th:last-child {
              border: 0; }
          .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead a {
            color: #fff; }
        .qway-profile-main .qway-profile-main-content .profile-travel-history-table table tbody .profile-travel-history-row {
          background-color: #fff;
          min-height: 5em;
          height: 5em; }
          .qway-profile-main .qway-profile-main-content .profile-travel-history-table table tbody .profile-travel-history-row > td {
            vertical-align: middle; }
        .qway-profile-main .qway-profile-main-content .profile-travel-history-table table tbody:before {
          content: "-";
          display: block;
          line-height: 1em;
          color: transparent; }
    .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item {
      display: flex;
      width: 100%;
      background-color: #fff;
      margin: 2em 0;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      border-radius: .5em; }
      .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-header {
        padding: 1em;
        background-color: #0089d9;
        color: #fff;
        font-weight: 600; }
      .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body {
        padding: 1em; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .departure {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .terminal {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .equipment {
          width: 20%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .bort-class {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .date {
          width: 20%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .fullname {
          width: 20%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .status {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .coming-trips-item-body-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .coming-trips-item-body-content {
          display: flex;
          justify-content: space-between; }
      .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-footer {
        padding: 1em; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-footer > button {
          margin: 0 2em;
          border-radius: 1.5em; }
          .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-footer > button:first-child {
            margin: 0; }
    .qway-profile-main .qway-profile-main-content .user-profile-update {
      background-color: #fff; }

/*# sourceMappingURL=profile.css.map */
