@mixin wrap-form-group($padding: 0, $width: 50%) {
  width: $width;
}

@mixin search-input-padding($padding: 1) {
  /*padding: #{$padding}em;*/
  height: 4em;
}

@mixin search-flight-wrap($width: 75%, $background: #fff) {
  width: $width;
  margin: 0 auto;
  //background: $background;
  //padding: 3em 2em 2em 2em;
  /*-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);*/
}
