.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#ap-message {
    text-align: center;
}

.ap-lock {
    color: red;
}

.ap-unlock {
    color: green;
}

.ap-modal-show {
    margin-left: 20px;
}

select.list {
    height: 350px !important;
}

.ap-blocked-user {
    color: #cbcccf;
}


.auth-search, .user-search {
    display: none;
}

.ap-child {
    color: #bbbcbf;
    padding-left: 30px;
}


#sidebar {
    float: left;
    min-height: 100%;
}

#sidebar > a > i {
    margin-top: 20px;
    margin-bottom: 100px;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

.hide_side {
    width: 3.5%;
}

.main_colap {
    width: 100%;
    padding-left: 5%;
}

.row-offcanvas {
    max-width: 1130px;
    padding: 0;
    margin: 0;
}

#toggle-side > i {
    width: 100%;
}

#toggle-side > i:hover {
    cursor: pointer;
}