/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Ubuntu:300,400,700&subset=cyrillic');
$opensans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$lato: 'Lato', sans-serif;

/*COLORS*/
$white: #fff;
$blue: #0088d4;
$pink: #97185d;
$silver: #333333;
$orange: #edb121;
$lightSilver: #e2e2e2;
$red: #ff0101;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin border_radius($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}
@mixin box_shadow($blur, $color) {
  -webkit-box-shadow: 0 0 $blur 0 $color;
  -moz-box-shadow: 0 0 $blur 0 $color;
  box-shadow: 0 0 $blur 0 $color;
}

@mixin rotes-count() {
  &.count-5 {
    .ln {
      &:nth-child(3) {
        margin-top: -7px;
      }
    }
  }
  &.count-4 {
    .ln {
      &:nth-child(2) {
        margin-top: -5px;
      }
      &:nth-child(3) {
        margin-top: -5px;
      }
    }
  }
  &.count-3 {
    .ln {
      &:nth-child(2) {
        margin-top: -7px;
      }
    }
  }
}

html, body {
  font-family: $opensans;
}

#search-form-flight-wrap {
  .wrap-form-group-city-data {
    overflow: inherit;
    .search-flight-form-city-group {
      width: 35%;
      .qway-search-required-city {
        position: relative;
        &.has-error {
          .help-block {
            display: block;
            position: absolute;
            top: 52px;
            width: 100%;
            padding-left: 0;
            text-align: center;
            background: #b60400;
            color: $white;
            border-radius: 2em;
          }
        }
      }
    }
    .search-flight-form-date-group {
      .field-searchform-tripdate_1 {
        position: relative;
        &.has-error {
          .help-block {
            display: block;
            position: absolute;
            top: 52px;
            width: 100%;
            padding-left: 0;
            text-align: center;
            background: #b60400;
            color: $white;
            border-radius: 2em;
          }
        }
      }
    }
    .search-flight-form-passenger-group {
      border-right: 1px solid #cdcdcd;
      &:last-child {
        border-right: none;
      }
    }
    .input-bl {
      @include flex(column);
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 50px;
      background: $white;
      &.search-flight-form-passenger-group {
        position: relative;
        font-size: 12px;
        color: #2c2c2c;
        span {
          font-size: 16px;
          font-weight: bold;
        }
        .searchform-span-passenger-group {
          cursor: pointer;
        }
        .passenger-group-button-container {
          @include border_radius(0 0 20px 20px);
          position: absolute;
          width: 100%;
          min-height: 150px;
          top: 50px;
          background: $white;
          z-index: 100;
          .bl {
            @include flex(row);
            height: 50px;
            align-items: center;
            text-align: center;
            justify-content: space-around;
            border-top: 1px solid #dedede;
            .count {
              font-family: $lato;
              font-size: 24px;
              color: #a9a9a9;
            }
            .tbl {
              @include flex(row);
              @include border_radius(20px);
              height: 40px;
              align-items: center;
              border: 1px solid #dedede;
              background: $white;
              overflow: hidden;
              .minus {
                @include flex(column);
                width: 30px;
                height: 100%;
                justify-content: center;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                  background: $blue;
                  color: $white;
                }
              }
              .center {
                @include flex(column);
                width: 90px;
                height: 100%;
                justify-content: center;
                border-right: 1px solid #dedede;
                border-left: 1px solid #dedede;
              }
              .plus {
                @include flex(column);
                width: 30px;
                height: 100%;
                justify-content: center;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                  background: $blue;
                  color: $white;
                }
              }
            }
            &:hover {
              background: #cecece;
              .count {
                color: $blue;
              }
            }
          }
        }
      }
      &.field-searchformamadeus-cabin {
        position: relative;
        font-size: 12px;
        font-weight: bold;
        color: #2c2c2c;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        cursor: pointer;
        #searchformamadeus-cabin {
          cursor: pointer;
        }
        .field-searchformamadeus-cabin-select {
          @include border_radius(0 0 20px 20px);
          position: absolute;
          width: 100%;
          min-height: 170px;
          top: 32px;
          background: $white;
          overflow: hidden;
          z-index: 100;
          .cabin {
            @include flex(column);
            width: 100%;
            height: 50px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
              background: $blue;
              color: $white;
            }
            &:first-child {
              margin-top: 20px;
            }
          }
        }
        &.selected {
          border-radius: 0 2em 0 0;
        }
      }
    }
  }
}

body.mini {
  #search-form-flight-wrap {
    .page-description {
      display: none;
    }
    .payment-logo {
      display: none;
    }
    .form-group {
      &.search-flight-submit-button {
        margin: 1em 0;
      }
    }
  }

  .recomendation-bl {
    @include flex(column);
    width: 100%;
    .bord {
      border-radius: .5em;
      overflow: hidden;
    }
    .cheapest {
      @include flex(row);
      @include border_radius(10px);
      overflow: hidden;
      .left {
        @include flex(column);
        width: 80%;
        .head {
          h1 {
            margin: 0;
            padding: 0 50px;
            text-align: left;
            font-size: 24px;
            font-weight: 400;
            line-height: 55px;
            color: $white;
          }
          &.hd-cheap {
            background: $white url('/images/cheap-bg.png') no-repeat left;
          }
          &.hd-fast {
            background: $white url('/images/fast-bg.png') no-repeat left;
          }
        }
        .two-bl {
          @include flex(row);
          height: 100%;
          .lt {
            @include flex(column);
            align-items: center;
            justify-content: center;
            min-width: 145px;
            min-height: 225px;
            background: $blue;
            color: $white;
            .car-name {
              font-size: 12px;
            }
            .logo {
              width: 70%;
              margin: 35px 0;
              text-align: center;
              object {
                width: 100%;
              }
            }
            .air-company-name {
              font-size: 18px;
            }
          }
          .rt {
            @include flex(column);
            width: 100%;
            color: $silver;
            .top {
              @include flex(row);
              align-items: center;
              justify-content: space-between;
              width: 100%;
              height: 45px;
              background: #dde0e4;
              .bl {
                font-size: 12px;
                span {
                  font-size: 15px;
                  font-weight: bold;
                  color: #023769;
                }
                &:first-child {
                  margin-left: 20px;
                }
                &:last-child {
                  margin-right: 20px;
                }
              }
            }
            .bottom {
              @include flex(column);
              justify-content: space-between;
              width: 100%;
              height: 100%;
              background: #f3f3f3;
              .routes {
                @include flex(row);
                justify-content: space-between;
                .left-route {
                  @include flex(column);
                  margin-left: 20px;
                  .bl {
                    @include flex(row);
                    align-items: flex-end;
                    margin-bottom: 5px;
                    span {
                      min-width: 65px;
                      line-height: 1;
                      &:first-child {
                        margin-right: 10px;
                        text-align: right;
                        font-size: 12px;
                      }
                    }
                    &:first-child {
                      span {
                        &:last-child {
                          font-size: 21px;
                          color: $blue;
                        }
                      }
                    }
                    &:last-child {
                      span {
                        &:last-child {
                          font-size: 14px;
                          font-weight: bold;
                          color: #023769;
                        }
                      }
                    }
                  }
                }
                .right-route {
                  @include flex(column);
                  margin-right: 20px;
                  .bl {
                    @include flex(row);
                    align-items: flex-end;
                    margin-bottom: 5px;
                    span {
                      min-width: 65px;
                      line-height: 1;
                      &:first-child {
                        margin-right: 10px;
                        text-align: right;
                        font-size: 12px;
                      }
                    }
                    &:first-child {
                      span {
                        &:last-child {
                          font-size: 21px;
                          color: $pink;
                        }
                      }
                    }
                    &:last-child {
                      span {
                        &:last-child {
                          font-size: 14px;
                          font-weight: bold;
                          color: #400a27;
                        }
                      }
                    }
                  }
                }
              }
              .time-and-transfer {
                @include flex(row);
                justify-content: space-between;
                align-items: flex-end;
                margin: 20px;
                .bl {
                  text-align: center;
                  .time {
                    font-size: 46px;
                    font-weight: 300;
                    color: $blue;
                  }
                  .transfer-line {
                    @include flex(row);
                    @include rotes-count();
                    justify-content: space-between;
                    width: 395px;
                    height: 30px;
                    background: url('/images/transfer-line.png') no-repeat center;
                    .ln {
                      @include border_radius(100%);
                      width: 13px;
                      height: 13px;
                      border: 2px solid #8b8b8b;
                      background: $white;
                      cursor: pointer;
                      box-sizing: content-box;
                      &:hover {
                        box-shadow: 0 0 9px #000;
                        border-color: $red;
                      }
                      &:first-child {
                        align-self: flex-end;
                        margin-left: -5px;
                        margin-bottom: -5px;
                        border-color: $blue;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        &:after {
                          content: '';
                          width: 21px;
                          height: 21px;
                          display: inline-block;
                          position: relative;
                          bottom: 30px;
                          right: 5px;
                          background: url('/images/airbus-dep-icon.png') no-repeat center;
                        }
                      }
                      &:last-child {
                        align-self: flex-end;
                        margin-right: -5px;
                        margin-bottom: -5px;
                        border-color: $pink;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        &:after {
                          content: '';
                          width: 21px;
                          height: 21px;
                          display: inline-block;
                          position: relative;
                          bottom: 30px;
                          right: 5px;
                          background: url('/images/airbus-arr-icon.png') no-repeat center;
                        }
                      }
                    }
                  }
                  .transer {
                    font-size: 12px;
                    color: #023769;
                    span {
                      font-weight: bold;
                      color: #ff0000;
                    }
                  }
                  .transer-date {
                    margin-top: 10px;
                    font-size: 15px;
                    &:before {
                      content: '';
                      display: inline-block;
                      vertical-align: middle;
                      width: 22px;
                      height: 22px;
                      background: url('/images/airbus.png') no-repeat center;
                    }
                  }
                  &:last-child {
                    .time {
                      color: $pink;
                    }
                  }
                }
              }
              .border {
                width: 100%;
                height: 2px;
                background: url('/images/border.png') repeat;
              }
            }
          }
          &.red {
            .lt {
              background: $pink;
            }
            .rt {
              .top {
                background: #e7c8d9;
              }
            }
          }
        }
      }
      .center {
        position: relative;
        .l-border {
          position: absolute;
          left: -9px;
          width: 19px;
          height: 100%;
          background: url('/images/recomendation-left-side.png') no-repeat center;
        }
      }
      .right {
        @include flex(row);
        align-content: stretch;
        width: 20%;
        .l-content {
          @include flex(column);
          align-items: center;
          justify-content: space-between;
          width: 100%;
          background: #eaeaea;
          .icons {
            width: 100%;
            height: 18px;
            margin-top: 20px;
            background: url('/images/way-icon.png') no-repeat center;
          }
          .summ {
            font-size: 37px;
            color: #1c3451;
            span {
              font-size: 14px;
              &.currency {
                font-size: 22px;
              }
            }
          }
          .buy-button {
            a.button {
              @include border_radius(8px);
              display: inline-block;
              width: 185px;
              margin-bottom: 50px;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 27px;
              line-height: 100px;
              background: #e7ad12;
              color: $silver;
            }
          }
        }
      }
    }
    .fast {
      @extend .cheapest;
      margin: 30px 0;
    }
    .selected-departure {
      .item {
        .top-block {
          @include flex(column);
          @include border_radius(10px 10px 0 0);
          align-items: center;
          justify-content: center;
          height: 105px;
          background: #f3f3f3 url('/images/border-small.png') repeat-x bottom;
          color: $silver;
          .hd {
            font-size: 26px;
          }
          .bt {
            @include flex(row);
            align-items: center;
            .vertical-bl {
              &.center {
                margin: 0 30px;
              }
              &:first-child {
                font-size: 30px;
                color: $blue;
              }
              &:last-child {
                font-size: 30px;
                color: $pink;
              }
            }
          }
        }
        .bottom-block {
          @extend .cheapest;
          @include border_radius(0 0 10px 10px);
          margin-bottom: 30px;
          .right {
            .l-content {
              justify-content: center;
              .close {
                opacity: 1;
                span {
                  display: block;
                  width: 41px;
                  height: 41px;
                  background: url('/images/close-icon.png') no-repeat center;
                  cursor: pointer;
                }
              }
              .summ {
                span {
                  font-size: 14px;
                  display: block;
                  margin-top: 15px;
                  &.price-r {
                    display: inline-block;
                    font-size: 30px;
                    color: #1c3451;
                  }
                  &.currency {
                    display: inline-block;
                    font-size: 22px;
                  }
                }
              }
            }
          }
        }
        &:first-child {
          .bottom-block {
            @include border_radius(0);
            margin-bottom: 0;
            padding-bottom: 1px;
            background: #f5f5f5 url('/images/border-red-icon.png') repeat-x bottom;
          }
        }
        &:last-child {
          .top-block {
            @include border_radius(0);
          }
        }
        &.not {
          .top-block {
            @include border_radius(10px 10px 0 0);
          }
          .bottom-block {
            @include border_radius(0 0 10px 10px);
            margin-bottom: 30px;
            background: none;
          }
        }
      }
    }
    .conditions {
      margin-top: 50px;
      text-align: center;
      a {
        color: #ef9393;
        &:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: middle;
          background: url('/images/condition-plus.png') no-repeat center;
        }
      }
    }
    .departure-head {
      @include flex(row);
      @include border_radius(10px);
      align-items: center;
      justify-content: space-between;
      height: 65px;
      background: #f3f3f3;
      color: $silver;
      overflow: hidden;
      .dep-icon {
        width: 145px;
        height: 100%;
        background: $blue url('/images/dep-head-icon.png') no-repeat center;
      }
      .center {
        font-size: 26px;
      }
      .variants {
        margin-right: 20px;
        font-size: 22px;
        span {
          font-weight: bold;
          color: $blue;
        }
      }
    }
    .arrival-head {
      @include flex(row);
      @include border_radius(10px);
      align-items: center;
      justify-content: space-between;
      height: 65px;
      background: #f3f3f3;
      color: $silver;
      overflow: hidden;
      .dep-icon {
        width: 145px;
        height: 100%;
        background: $pink url('/images/dep-head-icon.png') no-repeat center;
      }
      .center {
        font-size: 26px;
      }
      .variants {
        margin-right: 20px;
        font-size: 22px;
        span {
          font-weight: bold;
          color: $pink;
        }
      }
    }
    .rec-sort {
      @include flex(row);
      @include border_radius(10px 10px 0 0);
      align-items: center;
      justify-content: space-between;
      height: 65px;
      margin-top: 20px;
      background: $white;
      color: $silver;
      overflow: hidden;
      .bl {
        &:first-child {
          margin-left: 20px;
        }
        &:nth-child(2) {
          @include flex(column);
          align-items: center;
          .top {
            font-size: 14px;
            color: $silver;
          }
          .bottom {
            @include flex(row);
            align-items: center;
            justify-content: space-between;
            .dep {
              font-size: 20px;
              color: $blue;
            }
            .center {
              margin: 0 15px;
            }
            .arr {
              font-size: 20px;
              color: $pink;
            }
          }
        }
        &:last-child {
          @include flex(row);
          align-items: center;
          justify-content: space-between;
          margin-right: 20px;
          span.butt-sort {
            @include border_radius(6px);
            width: 85px;
            text-align: center;
            line-height: 30px;
            background: #e7e7e7;
            cursor: pointer;
            &:after {
              content: '';
              width: 10px;
              height: 7px;
              display: inline-block;
              vertical-align: middle;
              margin-left: 15px;
              background: url('/images/button-by-icon.png') no-repeat center;
            }
            &.by-price {
              margin-right: 15px;
            }
            &.active {
              background: $blue;
              color: $white;
              &:after {
                transform: rotate(180deg);
                background: url('/images/button-by-active-icon.png') no-repeat center;
              }
            }
            &.rotate {
              &:after {
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
    .recomendation-items {
      .recomendation-item, .recomendation-item-bord {
        @extend .fast;
        margin: 5px 0;
        &:first-child {
          @include border_radius(0 0 10px 10px);
          margin-top: 0;
        }
        .left {
          .head {
            h1 {
              margin: 0;
              padding: 0 50px;
              text-align: left;
              font-size: 24px;
              font-weight: 400;
              line-height: 55px;
              color: #333333;
            }
            &.hd-cheap {
              background: $white url('/images/cheap-bg.png') no-repeat left;
            }
          }
          .two-bl {
            .lt {
              position: relative;
              .penalty {
                @include border_radius(0 0 10px 0);
                position: absolute;
                width: 30px;
                height: 30px;
                top: 0;
                left: 0;
                background: $red url('/images/penalty-icon.png') no-repeat center;
              }
            }
          }
        }
        .right {
          .l-content {
            .ticket-balance {
              span {
                display: inline-block;
                &.red {
                  text-transform: uppercase;
                  color: #ff0000;
                }
                &.blue {
                  margin-top: 20px;
                  font-size: 14px;
                  font-weight: bold;
                  color: #1c3451;
                }
              }
            }
            .summ {
              span {
                font-size: 14px;
                display: block;
                margin-top: 15px;
                &.price-r {
                  display: inline-block;
                  font-size: 30px;
                  color: #1c3451;
                }
                &.currency {
                  display: inline-block;
                  font-size: 22px;
                }
              }
            }
            .buy-button {
              a.button {
                @include border_radius(50px);
                margin-bottom: 30px;
                line-height: 50px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .recomendation-item, .recomendation-item-bord {
        @extend .fast;
        margin: 5px 0;
        .left {
          .two-bl {
            .lt {
              position: relative;
              .penalty {
                @include border_radius(0 0 10px 0);
                position: absolute;
                width: 30px;
                height: 30px;
                top: 0;
                left: 0;
                background: $red url('/images/penalty-icon.png') no-repeat center;
              }
            }
          }
        }
        .right {
          .l-content {
            .ticket-balance {
              span {
                display: inline-block;
                &.red {
                  text-transform: uppercase;
                  color: #ff0000;
                }
                &.blue {
                  margin-top: 20px;
                  font-size: 14px;
                  font-weight: bold;
                  color: #1c3451;
                }
              }
            }
            .summ {
              span {
                font-size: 14px;
                display: block;
                margin-top: 15px;
                text-align: center;
                &.price-r {
                  display: inline-block;
                  font-size: 30px;
                  color: #1c3451;
                }
                &.currency {
                  display: inline-block;
                  font-size: 22px;
                }
              }
            }
            .buy-button {
              a.button {
                @include border_radius(50px);
                margin-bottom: 30px;
                line-height: 50px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .recomendation-sorting, .recomendation-sorting-back, .cheap-reco, .fast-reco {
      .recomendation-item, .recomendation-item-bord {
        @extend .fast;
        margin: 5px 0;
        .left {
          .two-bl {
            .lt {
              position: relative;
              .penalty {
                @include border_radius(0 0 10px 0);
                position: absolute;
                width: 30px;
                height: 30px;
                top: 0;
                left: 0;
                background: $red url('/images/penalty-icon.png') no-repeat center;
              }
            }
          }
        }
        .right {
          .l-content {
            .ticket-balance {
              span {
                display: inline-block;
                &.red {
                  text-transform: uppercase;
                  color: #ff0000;
                }
                &.blue {
                  margin-top: 20px;
                  font-size: 14px;
                  font-weight: bold;
                  color: #1c3451;
                }
              }
            }
            .summ {
              span {
                font-size: 14px;
                display: block;
                margin-top: 15px;
                &.price-r {
                  display: inline-block;
                  font-size: 30px;
                  color: #1c3451;
                }
                &.currency {
                  display: inline-block;
                  font-size: 22px;
                }
              }
            }
            .buy-button {
              a.button {
                @include border_radius(50px);
                margin-bottom: 30px;
                line-height: 50px;
                cursor: pointer;
              }
            }
          }
        }
        &:first-child {
          @include border_radius(0 0 10px 10px);
          margin-top: 0;
        }
      }
    }
    .open-ten-rec {
      margin: 70px 0;
      text-align: center;
      a.open {
        @include border_radius(50px);
        display: inline-block;
        padding: 0 70px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 70px;
        background: $pink;
        color: $white;
      }
    }
    &.center {
      margin: 0 auto;
    }
  }
  .flex-row {
    @include flex(row-reverse);
    justify-content: space-between;
  }
  .total-amount {
    @include flex(column);
    align-items: flex-end;
    .bl {
      text-transform: uppercase;
      font-size: 24px;
      color: $white;
      span {
        display: inline-block;
        font-size: 43px;
      }
      &:last-child {
        margin-bottom: 30px;
        font-size: 15px;
        text-transform: inherit;
      }
    }
  }
  .count-people {
    @include flex(row);
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 20px;
    background: url('/images/border-white-icon.png') repeat-x bottom;
    color: $white;
    .bl {
      &:first-child {
        margin-left: 10px;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
  }
  .conditions {
    margin-top: 50px;
    text-align: center;
    a {
      color: #ef9393;
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        background: url('/images/condition-plus.png') no-repeat center;
      }
    }
  }

  .selec-button {
    margin-top: 40px;
    a {
      @include border_radius(10px);
      display: block;
      width: 100%;
      line-height: 65px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 26px;
      background: $orange;
      color: $silver;
    }
  }

  #book-form {
    p.error-hint {
      @include flex(row);
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 1em 0;
      line-height: 42px;
      text-align: center;
      font-size: 19.5px;
      background: url('/images/error-hint-bg.png') repeat-x;
      border: none;
      color: $white;
      sup {
        color: $red;
        margin-right: 5px;
      }
    }

    .policy {
      @include flex(row);
      @include border_radius(5px);
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 110px;
      font-size: 16px;
      border: 2px dashed #c4c4c4;
      background: rgba(255, 255, 255, 0.1);
      .bl {
        border: none !important;
      }
      input[type=checkbox] {
        display: none;
        &+label {
          width: 21px;
          height: 21px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          background: url('/images/checkbox.png') no-repeat center;
        }
        &:checked+label {
          width: 21px;
          height: 21px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          background: url('/images/checkbox-active.png') no-repeat center;
        }
      }
      a {
        font-size: 16px;
        color: #68defb;
      }
      &.error {
        background: rgba(255, 0, 0, 0.1);
      }
    }

    input {
      &[type=text] {
        @include border_radius(4px);
        height: 33px;
        padding: 0 25px;
        font-size: 14px;
        border: 1px solid #7e7e7e;
        background: rgba(255, 255, 255, 0.1);
        color: $white;
        &:focus {
          background: rgba(255, 255, 255, 0.9);
          color: $silver;
          outline: none;
        }
        &.error {
          border-color: $red;
          background: rgba(255, 0, 0, 0.1);
        }
      }
      &[type=email] {
        @include border_radius(4px);
        height: 33px;
        padding: 0 25px;
        font-size: 14px;
        border: 1px solid #7e7e7e;
        background: rgba(255, 255, 255, 0.1);
        color: $white;
        &:focus {
          background: rgba(255, 255, 255, 0.9);
          color: $silver;
          outline: none;
        }
        &.error {
          border-color: $red;
          background: rgba(255, 0, 0, 0.1);
        }
      }
    }
  }
  #back-result {
    width: 80%;
    margin: 0 auto;
  }
  #selected-item {
    width: 80%;
    margin: 20px auto;
    .recomendation-bl {
      .selected-departure {
        @include border_radius(20px);
        overflow: hidden;
        .item {
          .bottom-block {
            background: none;
          }
        }
      }
    }
  }
}

#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  .modal-book-block {
    width: 100%;
    height: 100%;
    @include flex(row);
    align-items: center;
    justify-content: center;
    .m-block {
      @include border_radius(10px);
      width: 70%;
      background: $white;
      overflow: hidden;
      .head {
        @include flex(row);
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        font-size: 25px;
        font-weight: lighter;
        background: #145092;
        color: $white;
        span.close-book-modal {
          cursor: pointer;
        }
      }
      #book-result-modal-content {
        table.book {
          width: 100%;
          tr {
            th {
              padding: 3px 0;
              text-align: center;
              background: #dbdbdb;
            }
            td {
              padding: 10px 0;
              text-align: center;
              .time {
                font-size: 25px;
                color: #545454;
                span {
                  display: inline-block;
                  width: 19px;
                  height: 19px;
                  &.plane-dep {
                    background: url(/images/airbus-dep-icon.png) no-repeat center;
                  }
                  &.plane-arr {
                    background: url(/images/airbus-arr-icon.png) no-repeat center;
                  }
                }
              }
              .city {
                font-size: 20px;
              }
              .fly {
                font-size: 20px;
                color: #0e171f;
              }
              .pass {
                text-transform: uppercase;
                font-size: 15px;
              }
            }
            &.dashed {
              border-bottom: 1px dashed #000;
              border-top: 1px dashed #000;
            }
          }
        }
        .btm {
          @include flex(row);
          justify-content: space-between;
          padding: 10px 50px;
          align-items: center;
          .book-inf {
            @include flex(row);
            align-items: center;
            span.pnr {
              @include border_radius(2em);
              margin-left: 15px;
              padding: 0 30px;
              text-transform: uppercase;
              font-size: 30px;
              background: #efefef;
            }
          }
          .summ {
            @include flex(row);
            align-items: center;
            span {
              margin-left: 15px;
              font-size: 30px;
              text-transform: uppercase;
            }
          }
          input[type=submit] {
            outline: none;
          }
        }
      }
    }
  }
}
#wrap-payment {
  .pay-status {
    width: 100%;
    .head {
      @include flex(row);
      @include border_radius(10px 10px 0 0);
      align-items: center;
      justify-content: center;
      width: 100%;
      line-height: 50px;
      font-size: 25px;
      background: #e1e1e1;
      border-bottom: 1px dashed #000;
      color: #838383;
      span {
        margin-right: 10px;
        font-size: 15px;
      }
      &.not {
        @include border_radius(0);
      }
    }
    .success-head {
      width: 100%;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: lighter;
      background: #0f9b12;
      color: $white;
    }
    table.flights {
      width: 100%;
      background: $white;
      tr {
        border-bottom: 1px dashed #000;
        th {
          text-align: center;
          font-weight: normal;
          line-height: 30px;
        }
        td {
          text-align: center;
          color: #0b4e8a;
          font-weight: bold;
          border-right: 1px solid #b5b5b5;
          span.orange {
            color: #b2750a;
          }
          &:last-child {
            border: none;
          }
          &.blue {
            padding: 15px 0;
            font-weight: lighter;
            font-size: 20px;
            background: #3f7aff;
            color: $white;
          }
        }
      }
    }
    .pay-body {
      width: 100%;
      padding: 20px 0;
      background: #e3e1e1;
      .line {
        @include flex(row);
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 35px;
        .l {
          width: 48%;
          text-align: right;
          font-weight: bold;
        }
        .r {
          width: 48%;
          span {
            &.name {
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .pay-price {
      @include flex(row);
      justify-content: space-between;
      width: 100%;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: lighter;
      background: #3f7aff;
      color: $white;
      .block {
        width: 40%;
      }
    }
    .pay-bottom {
      @include flex(row);
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      background: #e3e1e1;
      .block {
        @include flex(row);
        align-items: center;
        justify-content: center;
        width: 50%;
        input#payment_reciept_email {
          padding: 7px 10px;
          margin: 0 10px;
          outline: none;
        }
        button {
          &.btn {
            min-width: 170px;
            padding: 9px 10px;
            text-transform: uppercase;
            font-size: 12px;
            vertical-align: inherit;
          }
        }
        a {
          &.btn {
            min-width: 170px;
            padding: 9px 10px;
            text-transform: uppercase;
            font-size: 12px;
            vertical-align: inherit;
          }
        }
      }
    }
    .border-pay {
      width: 100%;
      height: 5px;
      background: url('/images/pay-bottom.png') repeat-x;
    }
  }
}
/*TIMER*/
.time-limit {
  @include flex(row);
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  background: #02c138;
  .time {
    @include flex(column);
    @include border_radius(20px);
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    text-align: center;
    background: $white;
    .minute {
      font-size: 30px;
      color: #02c138;
    }
    .second {
      font-size: 30px;
      color: #02c138;
    }
    span {
      font-size: 15px;
      color: #02c138;
    }
  }
  .delimiter {
    margin-top: -10px;
    font-size: 50px;
    color: $white;
  }
  &.red {
    background: #d12b54;
    .time {
      .minute {
        color: #d12b54;
      }
      .second {
        color: #d12b54;
      }
      span {
        color: #d12b54;
      }
    }
  }
}
.recomendation_filter {
  width: 80%;
  margin: 2em auto;
  .filter-block {
    @include flex(row);
    @include border_radius(10px);
    align-items: center;
    justify-content: space-around;
    height: 65px;
    background: #f3f3f3;
    color: #333333;
    select {
      width: 33.33%;
      height: 100%;
      padding: 0 30px;
      font-size: 20px;
      border: none;
      border-right: 1px solid #585a58;
      background: none;
      outline: none;
      &:last-child {
        border-right: none;
      }
    }
  }
}