@charset "UTF-8";
/* ========================================================================
 * Default yii style
 * ======================================================================== */
html {
  height:100%;
  }

body {
  height:100%;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(2, 48, 62, 0.1); }

.overlay {
  /* position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: -1;*/ }

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 6em;
  background: rgba(2, 48, 62, 0.6); }
header .content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .content .logotip {
  width: 5%;
}

header .content .logotip img {
  width: 65%;
}
header #qway-header-nav {
    background: transparent;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding-top: 1.2em; }
    header #qway-header-nav .container {
      width: 100%;
    }
    header #qway-header-nav .container #qway-header-nav-collapse {
      margin: auto; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-nav {
        margin: 0; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-left-custom {
        width: 25%; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom {
        width: 47%;
        margin: auto;
        display: flex;
        justify-content: center; }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li {
          position: relative;
          width: 15%;
          text-align: center;
          border: 1px solid #fff;
          overflow: hidden;
        }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:nth-child(2) {
          border-color: #636363;
          background: none;
          overflow: initial;
        }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:nth-child(2) a {
          color: #636363;
        }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:nth-child(2):before {
          content: 'СКОРО';
          display: inline-block;
          position: absolute;
          width: 62px;
          height: 28px;
          color: #fff;
          background: url(/images/new-label.png) no-repeat center;
          top: -26px;
        }

        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:nth-child(3) {
          border-color: #636363;
          background: none;
          overflow: initial;
        }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:nth-child(3) a {
          color: #636363;
        }

        header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:nth-child(3):before {
          content: 'СКОРО';
          display: inline-block;
          position: absolute;
          width: 62px;
          height: 28px;
          color: #fff;
          background: url(/images/new-label.png) no-repeat center;
          top: -26px;
        }

          header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:first-child {
            border-radius: 2em 0 0 2em; }
          header #qway-header-nav .container #qway-header-nav-collapse .navbar-center-custom li:last-child {
            border-radius: 0 2em 2em 0; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom li {
        margin: 0 1em 0 1em; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .sign-up-button {
        margin: 0;
        padding: 0 .5em; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu {
        min-width: 300px;
        background-color: #fff;
        border-radius: .5em;
        overflow: hidden;
        padding: 0; }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu h3, header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu h4, header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu p {
          margin: 0; }
        header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap {
          margin: 0; }
          header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-header {
            text-align: center;
            padding: .5em 0;
            color: #fff;
            background-color: #489ce5;
            width: 100%; }
          header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body .form-group {
            margin-top: 1em; }
          header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body input[type=text], header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body input[type=password] {
            border-radius: 2em;
            height: 3em;
            padding-left: 2em; }
          header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body button {
            border-radius: 2em;
            padding: .5em 3em;
            margin-top: .5em; }
          header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body .login-form-additional {
            font-size: .9em;
            display: flex;
            justify-content: space-between;
            margin-top: 1em; }
            header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body .login-form-additional > div {
              margin: 0; }
              header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body .login-form-additional > div .checkbox {
                margin: 0; }
            header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .login-button .dropdown-menu .login-form-wrap .login-form-body .login-form-additional .reset-password-button {
              color: #3375a3; }
      header #qway-header-nav .container #qway-header-nav-collapse .navbar-right-custom .dropdown {
        border: 1px solid #fff;
        border-radius: 2em;
        padding: 0 1em; }
    header #qway-header-nav a {
      color: #fff;
      background: transparent; }
    header #qway-header-nav .active a {
      background: rgba(2, 48, 62, 0.4); }
    header #qway-header-nav .dropdown-menu {
      background-color: rgba(2, 48, 62, 0.6);
      margin-top: 2em;
      -webkit-box-shadow: 0px 0px 11px 0px #02303e;
      -moz-box-shadow: 0px 0px 11px 0px #02303e;
      box-shadow: 0px 0px 11px 0px #02303e; }
      header #qway-header-nav .dropdown-menu li {
        padding: .5em 0;
        border: 0 !important;
        width: 100%;
        margin: 0 !important; }
        header #qway-header-nav .dropdown-menu li form button {
          width: 100%;
          padding: 3px 20px;
          text-align: left; }
          header #qway-header-nav .dropdown-menu li form button:hover {
            background-color: rgba(2, 48, 62, 0.6); }

.wrap {
  min-height: 100%;
  margin: 0 auto -48px;}
  .wrap #logo {
    text-align: center;
    padding-top: 2em;
    color: #fff; }
    .wrap #logo img {
      width: 10%; }
    .wrap #logo h2 {
      /*-webkit-box-shadow: 0px 0px 11px 0px #02303e;
      -moz-box-shadow: 0px 0px 11px 0px #02303e;
      box-shadow: 0px 0px 11px 0px #02303e;
      -webkit-text-shadow: -2px 0px 7px rgba(2, 48, 62, 1);
      -moz-text-shadow: -2px 0px 7px rgba(2, 48, 62, 1);
      text-shadow: -2px 0px 7px rgba(2, 48, 62, 1);*/ }
  .wrap #logo.mini {
    display: none; }
  .wrap .page-description {
    text-align: center;
    color: #fff;
    padding-bottom: 2em; }
    .wrap .page-description h3, .wrap .page-description h4 {
      margin: 0; }

.wrap > .container {
  padding: 70px 15px 20px; }

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px; }

.jumbotron {
  text-align: center;
  background-color: transparent; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

.not-set {
  color: #c55;
  font-style: italic; }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px; }

a.asc:after {
  content: "\e151"; }

a.desc:after {
  content: "\e152"; }

.sort-numerical a.asc:after {
  content: "\e153"; }

.sort-numerical a.desc:after {
  content: "\e154"; }

.sort-ordinal a.asc:after {
  content: "\e155"; }

.sort-ordinal a.desc:after {
  content: "\e156"; }

.grid-view td {
  white-space: nowrap; }

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px; }

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999; }

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0; }

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none; }

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px; } }
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none; }

.nav > li > form > button.logout:focus {
  outline: none; }

/* ========================================================================
 * Custom layout style
 * ======================================================================== */
.navbar {
  margin-bottom: 5px; }

.form-group {
  margin: 0; }

.site-request-password-reset #logo img {
  width: 5%; }
.site-request-password-reset #form-signup, .site-request-password-reset #request-password-reset-form {
  background-color: #fff;
  padding: .5em 2em 2em 2em;
  border-radius: .5em; }
  .site-request-password-reset #form-signup .form-group, .site-request-password-reset #request-password-reset-form .form-group {
    margin-top: 1em; }
  .site-request-password-reset #form-signup input, .site-request-password-reset #request-password-reset-form input {
    border-radius: 2em; }
  .site-request-password-reset #form-signup button, .site-request-password-reset #request-password-reset-form button {
    width: 100%;
    border-radius: 2em; }

.navbar-right-custom {
  margin-right: 6em; }

.navbar-left-custom {
  margin-left: 6em; }

.qway-logout {
  color: white !important;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none !important; }
  .qway-logout:hover {
    background: #3875a7; }

.qway-wrap {
  width: 75%;
  margin: 0 auto;
  /*-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);*/ }

#pre-footer {
  width: 75%;
  margin: 0 auto;
  /*-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);*/
  margin-top: 0; }
  #pre-footer .wrap {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-top: 7em; }
    #pre-footer .wrap .col-wrap {
      margin: 0;
      padding: 0;
      width: 20%; }
      #pre-footer .wrap .col-wrap ul {
        padding: 0; }
        #pre-footer .wrap .col-wrap ul li {
          list-style: none; }

#footer {}
  #footer .main {
    color: white; }
    #footer .main .navbar-footer-custom {
      margin: 0 16.5em 0 16.5em; }
    #footer .main a {
      color: white; }
      #footer .main a:hover {
        color: #306590; }
    #footer .main .contact {
      width: 50%;
      margin: 2em auto 0 auto;
      padding: 0 1em 0 2em;
      display: flex; }
      #footer .main .contact .child {
        width: 50%; }
        #footer .main .contact .child #feedback {
          padding-bottom: 2em; }
          #footer .main .contact .child #feedback .input {
            display: flex; }
            #footer .main .contact .child #feedback .input input {
              width: 50%;
              margin: .5em; }
          #footer .main .contact .child #feedback textarea {
            margin: .5em;
            width: 97%; }
          #footer .main .contact .child #feedback .submit {
            text-align: center; }
  #footer .copy {
    padding: 1em;
    text-align: center;
    color: #306590;
    background: #fff; }
.site-offer{ color: #fff }
.site-offer li {
  list-style: none;
  padding: .5em 0; }

.payment-logo {
  width: 50%;
  margin: auto;
  padding-bottom: .3em;
  display: flex;
  justify-content: center;
  font-size: 3em;
  /*.item {

      //overflow: hidden;
      //height: 100vh;
      //display: inline-block;
      !*margin: 0 2em;
      background-color: #fff;
      img {
          max-width: 80px;
      }*!
  }*/
  /*img {
      max-width: 80px;
      margin: 0 2em;
  }*/ }
  .payment-logo span {
    margin: 0 .2em; }
    .payment-logo span img {
      /*background-color: rgba(255, 255, 255, .6);*/
    }
    .payment-logo span:last-child {
      padding-top: .5em;
      font-size: .3em;
      align-self: center; }
      .payment-logo span:last-child a {
        font-size: 13px;
        border-bottom: 1px solid #fff;
        color: #fff; }

#search-form-flight-wrap {
  width: 75%;
  margin: 0 auto;
  /*-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);*/
  padding: 1em;
  z-index: 10;
  border-radius: 1em; }
  #search-form-flight-wrap #search-form-header {
    width: 55%;
    display: flex;
    padding: 0 0 0 2em;
    color: #fff; }
    #search-form-flight-wrap #search-form-header span:first-child {
      width: 52%; }
  #search-form-flight-wrap .wrap-form-group-city-data {
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: .2em;
    flex-wrap: wrap;
    /*padding: .1em 0;*/
    overflow: hidden;
    border-radius: 2em; }
    #search-form-flight-wrap .wrap-form-group-city-data:first-child {
      border-radius: 2em 2em 0 0; }
    #search-form-flight-wrap .wrap-form-group-city-data:last-child {
      border-radius: 0 0 2em 2em; }
    #search-form-flight-wrap .wrap-form-group-city-data .polyfill-serach-form {
      width: 80%; }
    #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-passenger-group {
      width: 16%; }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-passenger-group input {
        box-shadow: none;
        border: 0;
        border-radius: 0;
        height: 45px; }
    #search-form-flight-wrap .wrap-form-group-city-data .date-list .required.has-error input {
      /* border: 2px solid #a94442;
       border-radius: 0 2em 2em 0;*/ }
    #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group {
      width: 55%;
      display: flex;
      flex-wrap: wrap; }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group .qway-search-required-city {
        display: flex;
        width: 50%;
        flex-direction: column;
        /* $label: 'not';
         $marginLeft: 0;*/
        /*.one-block-city-input {
          display: flex;
          label {
            //width: 20%;
            margin: 0;
            $label: 'exist';
            img {
              height: 64px;
              margin-right: .5em;
            }
          }

          .input-imitate {
            display: flex;
            flex-wrap: wrap;
            height: 64px;
            border: solid 1px #ddd;
            border-radius: .2em;
            !* width: 80%;*!
            input {
              //padding: .5em 1.5em;
              font-size: 1.4em;
              padding: .5em 0 0 2em;
              width: 90%;
            }
            .clear-input {
              width: 10%;
              margin-top: 1.6em;
              text-align: center;
              color: #666;
              &:hover {
                cursor: pointer;
              }
            }
            .remove-arrival-button {
            }
        }


          .help-block {
            @if $label == exist {
              //margin-left: 20%;
              !* margin-left: 1sem;*!
            }
          }
        }
        .two-block-city-input {
          display: flex;
          height: 2em;
          .reverse-city-flight {
            margin-left: 4em;
            padding: .5em .5em 0 .5em;
            color: #ccc;
            &:hover {
              cursor: pointer;
            }
            &.active {
              color: #000;
            }
          }
          .reverse-city-flight-empty {
            margin-left: 4em;
            padding-top: .15em;
            padding-left: 24px;
          }
          .help-block {
            padding-top: .25em;
            margin-left: 10%;
          }
        }*/ }
        #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group .qway-search-required-city input {
          padding-left: 2em;
          box-shadow: none;
          border: 0;
          border-right: 2px solid #ddd;
          border-radius: 0;
          height: 3em; }
        #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group .qway-search-required-city.has-error input {
          border: 1px solid #ffd0cf;
          border-left: 0px;
          height: 45px;
        }
        #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group .qway-search-required-city .help-block {
          /*@if $marginLeft == 1 {
            margin-left: 1.1em;
          }*/
          display: none; }
        #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group .qway-search-required-city:first-child input {
          border-radius: 2em 0 0 2em;
          height: 45px;
        }
        #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-city-group .qway-search-required-city .example-input-city {
          display: inline; }
    #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-date-group {
      width: 25%;
      display: flex;
      flex-wrap: wrap;
      /*
      justify-content: space-between;*/ }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-date-group input {
        box-shadow: none;
        border: 0;
        border-right: 2px solid #ddd;
        border-radius: 0;
        height: 3em; }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-date-group .required.has-error input {
        border: 1px solid #ffd0cf;
        height: 45px;
      }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-date-group .required .help-block {
        /*@if $marginLeft == 1 {
          margin-left: 1.1em;
        }*/
        display: none; }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-date-group > div {
        width: 50%; }
      #search-form-flight-wrap .wrap-form-group-city-data .search-flight-form-date-group .only-row-trip-date {
        width: 100%; }

.wrap-passenger-and-cabin-group {
  width: 14.55%;
  /* float: right; */
  position: absolute;
  left: 71.9%;
  display: none;
  background-color: #fff;
  border-radius: 0 0 .5em .5em;
  padding: 1em 0;
  /*-webkit-box-shadow: 0px 0px 11px 0px #02303e;
  -moz-box-shadow: 0px 0px 11px 0px #02303e;
  box-shadow: 0px 0px 11px 0px #02303e;*/ }

.help-block {
  padding-left: .8em; }

#wrap-form-group-people {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column; }
  #wrap-form-group-people .qway-search-required-people {
    display: flex;
    justify-content: space-between;
    padding: .5em; }
    #wrap-form-group-people .qway-search-required-people .control-label {
      padding: .6em 0 0 0;
      margin: 0;
      width: 40%;
      font-weight: 300; }
    #wrap-form-group-people .qway-search-required-people > div {
      width: 60%; }
    #wrap-form-group-people .qway-search-required-people .help-block {
      display: none; }
    #wrap-form-group-people .qway-search-required-people input {
      padding: 0 1em;
      background-color: transparent; }

.search-flight-submit-button {
  width: 100%;
  text-align: center;
  margin: 3em 0; }
  .search-flight-submit-button button {
    outline: none !important;
    display: inline-block;
    padding: 1em 1em .8em 1em;
    font-size: 1em;
    width: 30%;
    border-radius: 2em; }
    .search-flight-submit-button button i {
      font-size: 1.6em;
      margin-top: -0.1em; }
      .search-flight-submit-button button i:first-child {
        float: left; }
      .search-flight-submit-button button i:last-child {
        background-color: #fff;
        border-radius: 1em;
        color: #337ab7;
        font-size: 1.8em;
        float: right;
        width: 1em; }

.nav > li > a {
  padding: .2em; }

.autocomplete-suggestions {
  padding: 1em 0 0 0;
  margin-top: .3em;
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  overflow: hidden;
  border: 1px solid #999;
  width: 250px; }
  .autocomplete-suggestions:before {
    content: "Выберите из списка";
    padding: 1em;
    color: #bbb; }
  .autocomplete-suggestions .autocomplete-suggestion {
    border-bottom: 1px solid #ddd;
    padding: .5em 1em; }
    .autocomplete-suggestions .autocomplete-suggestion:first-child {
      margin-top: .5em; }
    .autocomplete-suggestions .autocomplete-suggestion:last-child {
      margin-bottom: .5em;
      border: 0; }
  .autocomplete-suggestions .autocomplete-selected {
    color: green;
    background-color: #dddddd; }
    .autocomplete-suggestions .autocomplete-selected:hover {
      cursor: pointer; }

/*
.help-block {
  display: none;
}
*/
.wrap-continue-route-group {
  display: none;
  margin-top: 1em; }
  .wrap-continue-route-group .additional-arrival-button {
    background-color: green;
    border: 0;
    color: #fff;
    border-radius: 2em;
    width: 40%; }
  .wrap-continue-route-group .remove-itinerary {
    width: 40%;
    background-color: red;
    border: 0;
    color: #fff;
    border-radius: 2em; }
  .wrap-continue-route-group .search-flight-form-passenger-group {
    display: inline;
    width: 20%;
    -webkit-box-shadow: 0px 0px 11px 0px #02303e;
    -moz-box-shadow: 0px 0px 11px 0px #02303e;
    box-shadow: 0px 0px 11px 0px #02303e;
    border-radius: 2em !important;
    overflow: hidden; }

#wrap-form-group-cabin {
  display: inline-block;
  width: 100%;
  padding: .5em;
  /*padding: 1em;
  margin: 1em;*/ }

.additional-date {
  display: none; }

.additional-arrival-city {
  display: none !important; }

.additional-image {
  display: none !important; }

#remove-arrival-button {
  display: none; }

/*
.reset-search-flight-form:before {
  content: "\e020";
}*/
.help-block {
  margin: 0; }

.custom-help-block-date {
  display: none;
  color: #a94442; }

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s ease; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #56b6ff; }

.blocks-input {
  font-size: .9em;
  display: flex;
  width: 100%; }
  .blocks-input .hint-block {
    margin-top: .8em;
    /*width: 57%;*/
    padding-left: .3em; }
  .blocks-input .help-block {
    margin-top: .8em;
    width: 42%;
    font-weight: 600; }

.example-input-city .example-city {
  color: #3375a3; }
  .example-input-city .example-city:hover {
    cursor: pointer;
    color: #519049; }

#loader-flight-search {
  display: none;
  width: 100%;
  margin: 3em 0;
  text-align: center; }
  #loader-flight-search .loader-main {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: white #306691 white #306691;
    border-radius: 100%;
    animation: clockwise 1.01s linear infinite; }
  #loader-flight-search .loader-main:after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: #e9e8e8 transparent transparent;
    border-radius: 100%; }
  #loader-flight-search .loader-main div {
    position: relative;
    height: 40px;
    width: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: #d2dfee transparent #d2dfee;
    border-radius: 100%;
    animation: counter-clockwise 0.49s linear infinite; }
  #loader-flight-search .loader-main div:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #e9e8e8;
    border-radius: 100%; }

#overlay-loader {
  display: none;
  background: rgba(48, 101, 144, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  top: 0;
  left: 0; }
  #overlay-loader .loader-main {
    margin: 50vh auto;
    height: 50px;
    width: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: white #306691 white #306691;
    border-radius: 100%;
    animation: clockwise 1.01s linear infinite; }
  #overlay-loader .loader-main:after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: #e9e8e8 transparent transparent;
    border-radius: 100%; }
  #overlay-loader .loader-main div {
    position: relative;
    height: 40px;
    width: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: #d2dfee transparent #d2dfee;
    border-radius: 100%;
    animation: counter-clockwise 0.49s linear infinite; }
  #overlay-loader .loader-main div:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #e9e8e8;
    border-radius: 100%; }

@keyframes clockwise {
  to {
    transform: rotate(360deg) translatez(0); } }
@keyframes counter-clockwise {
  to {
    transform: rotate(-360deg) translatez(0); } }
#search-form-flight-wrap #searchformamadeus-tripdatebackward {
  border-right: 2px solid #ddd;
  height: 45px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 0; }

.input-group .form-control {
  z-index: 0; }

.qway-search-required-people .input-group button {
  font-size: 10px; }

/*.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 1em auto 0;
  !*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*!
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #3399ff;
  color: #ffffff;
  font-family:'Times New Roman';
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;

}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;

  !*border-bottom: 1px solid #bbb;*!
}

.ui-datepicker th {
  background-color:#808080;
  text-transform: uppercase;
  font-size: 8pt;
  color: #666666;
  !*text-shadow: 1px 0px 0px #fff;*!
  !*filter: dropshadow(color=#fff, offx=1, offy=0);*!
}

.ui-datepicker tbody td {
  padding: 0;
  !*border-right: 1px solid #808080;*!
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  !*font-weight: bold;*!
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  !*text-shadow: 1px 1px 0px #fff;*!
  !*filter: dropshadow(color=#fff, offx=1, offy=1);*!
}

.ui-datepicker-calendar .ui-state-default {
  background: linear-gradient(#999999, #737373);
  color:#ffffff;
  height:40px;
  width:40px;

}

.ui-datepicker-calendar .ui-state-hover {
  background: #33adff;
  color: #FFFFFF;
}

.ui-datepicker-calendar .ui-state-active {
  background: #33adff;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #D6E4BE;
  color: #000;
}*/
#ui-datepicker-div {
  width: 18%;
  margin-top: 0.3em;
  border-radius: 0 0 .5em .5em;
  padding: 0 0 1em 0; }
  #ui-datepicker-div .ui-datepicker-header {
    border: 0;
    background: none;
    padding: 0;
    border-bottom: 1px solid #ddd; }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: .5em; }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev > i, #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next > i {
      position: absolute;
      left: 8px;
      padding-top: .7em; }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev {
      width: 2.3em;
      height: 2.7em;
      top: 0;
      left: 0;
      border-radius: 0;
      text-align: center; }
      #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:hover {
        background: #3375a3;
        color: white;
        cursor: pointer; }
      #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev > i {
        left: 12px;
        padding-top: .9em; }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
      width: 2.3em;
      height: 2.7em;
      top: 0;
      right: 0;
      border-radius: 0;
      text-align: center; }
      #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:hover {
        background: #3375a3;
        color: white;
        cursor: pointer; }
      #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next > i {
        left: 12px;
        padding-top: .9em; }
  #ui-datepicker-div .ui-datepicker-calendar {
    width: 95%;
    font-size: .9em;
    border-collapse: collapse;
    /* margin: 0 0 .4em; */
    margin: auto; }
    #ui-datepicker-div .ui-datepicker-calendar thead tr th {
      font-weight: 100;
      color: #999; }
    #ui-datepicker-div .ui-datepicker-calendar tbody {
      padding: 1em 0; }
      #ui-datepicker-div .ui-datepicker-calendar tbody a, #ui-datepicker-div .ui-datepicker-calendar tbody span {
        background: transparent;
        border: 0; }

#search-result {
  width: 80%;
  margin: 2em auto;
  /* background: #fff; */
  display: none; }
  #search-result aside {
    width: 13%; }
  #search-result #search-all-result-wrap {
    width: 80%;
    padding: 1em;
    /*.search-result-item {
      background-color: #fff;
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 1em;
      padding: 1em;
      //border-bottom: solid 5px #ccc;
      !*display: flex;*!
      //border-bottom: 1px solid #ddd;
      //border-radius: .3em;


    }*/ }
    #search-result #search-all-result-wrap #search-flight-filter {
      padding: 0 3em;
      color: #fff;
      background-color: rgba(102, 107, 109, 0.8);
      margin: 1em 0;
      display: flex;
      justify-content: space-between;
      border-radius: 0.5em;
      overflow: hidden; }
      #search-result #search-all-result-wrap #search-flight-filter h5 {
        display: inline; }
      #search-result #search-all-result-wrap #search-flight-filter .content {
        display: inline; }
        #search-result #search-all-result-wrap #search-flight-filter .content .item-filter {
          margin: .5em;
          padding: 0 .5em; }
      #search-result #search-all-result-wrap #search-flight-filter .select-filter {
        display: inline;
        width: auto;
        height: 23px;
        padding: 0; }
    #search-result #search-all-result-wrap .best-flight .best-amount > header, #search-result #search-all-result-wrap .best-flight .best-elapsed > header {
      padding: 0 3em;
      text-align: center;
      color: #fff;
      background-color: rgba(102, 107, 109, 0.8);
      margin: 1em 0;
      height: 3em;
      width: 80%;
      display: inline-flex;
      border-radius: .5em; }
    #search-result #search-all-result-wrap .best-flight .recommendation-count {
      display: inline-flex;
      font-size: 1.5em;
      padding-left: 1em;
      color: #fff; }
      #search-result #search-all-result-wrap .best-flight .recommendation-count span {
        color: #faaf00; }
    #search-result #search-all-result-wrap .best-flight .content-best-flight {
      margin: 0 auto 1em auto; }
    #search-result #search-all-result-wrap .combination-block {
      display: none;
      /*border: 1px solid #306590;
      margin-bottom: 1em;
      padding: 1em;*/ }
    #search-result #search-all-result-wrap .backward-header {
      display: none;
      color: #fff;
      margin-bottom: 1em; }
      #search-result #search-all-result-wrap .backward-header i {
        border-radius: .3em 0 0 .3em;
        background-color: #ffb200;
        color: #0089d9;
        font-size: 2em;
        padding: .4em 1em; }
      #search-result #search-all-result-wrap .backward-header .backward-header-txt {
        width: 40%;
        display: flex;
        padding: 1em 3em;
        background-color: #fff;
        color: #000;
        border-radius: 0 .3em .3em 0; }
      #search-result #search-all-result-wrap .backward-header .backward-content {
        padding: 1em 3em;
        width: 60%;
        display: flex;
        justify-content: space-between; }
        #search-result #search-all-result-wrap .backward-header .backward-content .backward-img-cont i {
          background-color: transparent;
          color: #fff;
          font-size: 1em;
          padding: 0;
          /* border-radius: .3em 0 0 .3em; */
          /* background-color: #ffb200; */
          /* color: #0089d9; */
          /* font-size: 2em; */
          /* padding: .4em 1em; */ }

.item-header, .item-content, .item-content-multi .multi-flight {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.item-header {
  padding: 0 1em; }
  .item-header .search-result-header {
    width: 20%;
    font-size: .8em;
    color: #999;
    padding: .5em; }
  .item-header .search-result-header-amount {
    padding-left: 4em; }

.item-content {
  padding: 1em; }

.item-content-multi {
  display: flex;
  flex-direction: column; }
  .item-content-multi .multi-flight {
    padding: 1em; }
  .item-content-multi hr.flight-border {
    border-top: 1px dashed #adadad;
    width: 55%;
    padding-right: 20%;
    margin: 0; }
    .item-content-multi hr.flight-border:last-child {
      border: none; }

.airline-content img {
  width: 90%; }

.amount-content span {
  width: 100%; }
  .amount-content span #add-ticket {
    width: 100%; }

.block-item-content {
  width: 20%;
  display: flex;
  padding: 0 .5em;
  flex-direction: column;
  justify-content: space-between; }
  .block-item-content .block-child-header {
    /*align-self: baseline;*/
    color: #999;
    margin-bottom: 1em; }
  .block-item-content .block-child-data, .block-item-content .block-amount-data, .block-item-content .block-time-location {
    width: 100%;
    margin: auto;
    padding: .1em 0;
    font-weight: bold;
    font-size: .9em; }
  .block-item-content .block-amount-data {
    font-size: 1.5em;
    text-align: center; }
  .block-item-content .block-time-location {
    font-size: 1.5em; }
  .block-item-content .free-seats {
    font-weight: 100;
    font-size: .8em;
    color: #555; }
  .block-item-content .block-departure-date {
    font-size: 1.5em; }
  .block-item-content .block-departure-time, .block-item-content .block-arrival-time {
    font-size: 1.5em; }

.clear-item-content {
  display: flex;
  flex-direction: row; }
  .clear-item-content i {
    margin: auto;
    background-color: #cde5e5;
    align-self: center;
    padding: 1em;
    border-radius: 3em;
    color: #fff;
    transition: all 0.5s ease; }
    .clear-item-content i:hover {
      cursor: pointer;
      background-color: #b3c8c8; }

#book-form {
  display: none; }

#book-result-modal .modal-flight-to-payment {
  margin: 1em 0;
  display: none; }
#book-result-modal .item-content {
  display: flex; }
  #book-result-modal .item-content .block-item-content {
    width: 25%;
    justify-content: flex-start; }
    #book-result-modal .item-content .block-item-content .block-child-header {
      font-size: .9em; }
    #book-result-modal .item-content .block-item-content .block-departure-date {
      font-size: 1em; }
    #book-result-modal .item-content .block-item-content .block-elapsed-time, #book-result-modal .item-content .block-item-content .block-bort-name {
      padding-bottom: 2em; }
#book-result-modal #book-id-text {
  font-size: 1.5em; }

#payment-form {
  text-align: center; }
  #payment-form button {
    padding: 0.2em 1em;
    font-size: 2em; }

.block-empty-corruptible {
  padding: .5em; }

.radio-inline {
  margin-left: .5em; }

.information-block .header-information-block {
  background-color: #fff;
  display: flex;
  border-radius: .5em;
  overflow: hidden; }
  .information-block .header-information-block span {
    background-color: #f4af02;
    font-size: 3em;
    top: 0;
    color: #fff;
    padding: 0 1em; }
    .information-block .header-information-block span i {
      transform: rotate(135deg);
      top: .2em; }
  .information-block .header-information-block p {
    padding-top: 0.7em;
    text-align: center;
    width: 75%;
    margin: 0;
    font-size: 1.5em; }

.best-flight {
  display: none;
  margin-bottom: 2em; }
  .best-flight .item-wrapper .item-logo {
    color: #fff;
    background-color: #0089d9;
    width: 15%;
    text-align: center; }
    .best-flight .item-wrapper .item-logo header {
      height: 3em;
      background: none; }
      .best-flight .item-wrapper .item-logo header span {
        width: 100%;
        text-align: center; }
    .best-flight .item-wrapper .item-logo section {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1em; }
      .best-flight .item-wrapper .item-logo section img {
        padding-top: 40%;
        /* padding-bottom: 40%; */
        width: 75%;
        /* height: auto; */
        height: 0%; }
    .best-flight .item-wrapper .item-logo span {
      font-weight: 600; }
  .best-flight .item-wrapper .item-cont {
    width: 65%; }
    .best-flight .item-wrapper .item-cont header {
      height: 3em;
      background-color: #f4f2f4;
      display: flex;
      padding: 0 1em;
      justify-content: space-between; }
      .best-flight .item-wrapper .item-cont header span {
        font-size: .8em;
        color: #888; }
      .best-flight .item-wrapper .item-cont header h5 {
        display: inline;
        width: auto;
        color: #00346b;
        font-weight: 600; }
    .best-flight .item-wrapper .item-cont section {
      display: flex;
      justify-content: center;
      padding-top: .5em; }
      .best-flight .item-wrapper .item-cont section header {
        background: none; }
      .best-flight .item-wrapper .item-cont section .port-cont {
        width: 25%; }
        .best-flight .item-wrapper .item-cont section .port-cont section {
          display: flex;
          flex-direction: column;
          text-align: center; }
      .best-flight .item-wrapper .item-cont section .departure-cont {
        color: #0089d9; }
        .best-flight .item-wrapper .item-cont section .departure-cont header h4 {
          font-weight: 600; }
      .best-flight .item-wrapper .item-cont section .transplantation-cont {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        overflow: hidden; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont #curve-line {
          position: relative;
          top: -1em; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont i {
          padding: .1em; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-departure {
          color: #00346b; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-arrival {
          color: #ff00d9;
          transform: rotate(90deg); }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-all {
          position: absolute;
          color: red;
          z-index: 1; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_1 {
          left: 41%;
          height: 2.7em; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_2 {
          left: 44.5%;
          height: 3.9em; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_3 {
          left: 48%;
          height: 4.5em; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_4 {
          left: 51.5%;
          height: 3.9em; }
        .best-flight .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_5 {
          left: 55%;
          height: 2.7em; }
      .best-flight .item-wrapper .item-cont section .arrival-cont {
        color: #ff00d9; }
        .best-flight .item-wrapper .item-cont section .arrival-cont header h4 {
          font-weight: 600; }
  .best-flight .item-wrapper .item-amount {
    width: 20%;
    background-color: #f4f2f4;
    color: #00346b; }
    .best-flight .item-wrapper .item-amount header {
      height: 3em;
      background: none; }
      .best-flight .item-wrapper .item-amount header > span {
        width: 100%;
        text-align: center; }
        .best-flight .item-wrapper .item-amount header > span span {
          color: red; }
    .best-flight .item-wrapper .item-amount section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 12em;
      padding: 1em .5em; }
      .best-flight .item-wrapper .item-amount section .amount h2 {
        display: inline; }
      .best-flight .item-wrapper .item-amount section > p {
        font-size: .8em;
        color: #888; }
      .best-flight .item-wrapper .item-amount section button {
        width: 100%; }

/*.item-wrapper, .content-best-flight {
  display: flex;
  flex-direction: column;
  .wrap-info-content {
    position: relative;
    left: -1em;
    width: 2em;
    text-align: center;
    color: #ffb11e;
    .ticket-designator {
      margin-top: 1em;
      &:hover {
        cursor: pointer;
      }
    }
    .ticket-designator-message {
      display: none;
    }
  }
  .wrap-main-content {
    width: 97%;
  }
}*/
.item-wrapper {
  margin-bottom: 2em;
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 15em;
  border-radius: 0.5em;
  overflow: hidden; }
  .item-wrapper .item-logo {
    color: #fff;
    background-color: #0089d9;
    width: 15%;
    text-align: center;
    overflow: hidden;
   /* section {

      !*img {
        padding-top: 40%;
        !* padding-bottom: 40%; *!
        width: 75%;
        !* height: auto; *!
        height: 0%;
      }*!
    }*/ }
    .item-wrapper .item-logo header {
      height: 3em;
      background: none; }
      .item-wrapper .item-logo header span {
        width: 100%;
        text-align: center; }
    .item-wrapper .item-logo .bek-air, .item-wrapper .item-logo .air-astana {
      display: flex;
      justify-content: space-around;
      margin: 0;
      color: #fff;
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
      height: 120px; }
    .item-wrapper .item-logo .bek-air {
      background-image: url("/images/airlineslogo/bek-air.png"); }
    .item-wrapper .item-logo .air-astana {
      background-image: url("/images/airlineslogo/airastana.png"); }
    .item-wrapper .item-logo h4 {
      /*padding: 7em .5em .5em .5em;
      text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);*/ }
  .item-wrapper .item-cont {
    width: 65%; }
    .item-wrapper .item-cont header {
      height: 3em;
      background-color: #f4f2f4;
      display: flex;
      padding: 0 1em;
      justify-content: space-between; }
      .item-wrapper .item-cont header span {
        font-size: .8em;
        color: #888; }
      .item-wrapper .item-cont header h5 {
        display: inline;
        width: auto;
        color: #00346b;
        font-weight: 600; }
    .item-wrapper .item-cont section {
      display: flex;
      justify-content: center;
      padding-top: .5em; }
      .item-wrapper .item-cont section header {
        background: none; }
      .item-wrapper .item-cont section .port-cont {
        width: 25%; }
        .item-wrapper .item-cont section .port-cont section {
          display: flex;
          flex-direction: column;
          text-align: center; }
      .item-wrapper .item-cont section .departure-cont {
        color: #0089d9; }
        .item-wrapper .item-cont section .departure-cont header h4 {
          font-weight: 600; }
      .item-wrapper .item-cont section .transplantation-cont {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        overflow: hidden; }
        .item-wrapper .item-cont section .transplantation-cont #curve-line {
          position: relative;
          top: -1em; }
        .item-wrapper .item-cont section .transplantation-cont i {
          padding: .1em; }
        .item-wrapper .item-cont section .transplantation-cont .fa-departure {
          color: #00346b; }
        .item-wrapper .item-cont section .transplantation-cont .fa-arrival {
          color: #ff00d9;
          transform: rotate(90deg); }
        .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-all {
          position: absolute;
          color: red;
          z-index: 1; }
        .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_1 {
          left: 41%;
          height: 2.7em; }
        .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_2 {
          left: 44.5%;
          height: 3.9em; }
        .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_3 {
          left: 48%;
          height: 4.5em; }
        .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_4 {
          left: 51.5%;
          height: 3.9em; }
        .item-wrapper .item-cont section .transplantation-cont .fa-transplantation-num_5 {
          left: 55%;
          height: 2.7em; }
      .item-wrapper .item-cont section .arrival-cont {
        color: #ff00d9; }
        .item-wrapper .item-cont section .arrival-cont header h4 {
          font-weight: 600; }
  .item-wrapper .item-amount {
    width: 20%;
    background-color: #f4f2f4;
    color: #00346b; }
    .item-wrapper .item-amount header {
      height: 3em;
      background: none; }
      .item-wrapper .item-amount header > span {
        width: 100%;
        text-align: center; }
        .item-wrapper .item-amount header > span span {
          color: red; }
    .item-wrapper .item-amount section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 12em;
      padding: 1em .5em; }
      .item-wrapper .item-amount section .amount h2 {
        display: inline; }
      .item-wrapper .item-amount section > p {
        font-size: .8em;
        color: #888; }
      .item-wrapper .item-amount section button {
        width: 100%; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/*--------------------
Boarding Pass
--------------------*/
.boarding-pass {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-transform: uppercase;
  /*--------------------
  Header
  --------------------*/
  /*--------------------
  Cities
  --------------------*/
  /*--------------------
  Infos
  --------------------*/
  /*--------------------
  Strap
  --------------------*/ }
  .boarding-pass small {
    display: block;
    font-size: 11px;
    color: #A2A9B3;
    margin-bottom: 2px; }
  .boarding-pass strong {
    font-size: 15px;
    display: block; }
  .boarding-pass header {
    background: linear-gradient(to bottom, #36475f, #2c394f);
    padding: 12px 20px;
    height: 53px; }
    .boarding-pass header .logo {
      float: left;
      width: 104px;
      height: 31px; }
    .boarding-pass header .flight {
      float: right;
      color: #fff;
      text-align: right; }
      .boarding-pass header .flight small {
        font-size: 8px;
        margin-bottom: 2px;
        opacity: 0.8; }
      .boarding-pass header .flight strong {
        font-size: 18px; }
  .boarding-pass .cities {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .boarding-pass .cities .item {
      width: 20%;
      padding: 20px 18px;
      float: left; }
    .boarding-pass .cities .airlift-cities {
      display: flex;
      justify-content: space-around;
      text-align: center;
      width: 60%; }
    .boarding-pass .cities::after {
      content: '';
      display: table;
      clear: both; }
    .boarding-pass .cities .city:nth-child(2) {
      float: right; }
    .boarding-pass .cities .city strong {
      font-size: 40px;
      font-weight: 300;
      line-height: 1; }
    .boarding-pass .cities .city small {
      margin-bottom: 0px;
      margin-left: 3px; }
    .boarding-pass .cities .last {
      text-align: right; }
    .boarding-pass .cities .airplane {
      position: absolute;
      width: 30px;
      height: 25px;
      top: 57%;
      left: 30%;
      opacity: 0;
      transform: translate(-50%, -50%);
      animation: move 4s infinite; }
@keyframes move {
  40% {
    left: 50%;
    opacity: 1; }
  100% {
    left: 70%;
    opacity: 0; } }
  .boarding-pass .infos {
    display: flex;
    border-top: 1px solid #99D298; }
    .boarding-pass .infos .places,
    .boarding-pass .infos .times {
      width: 50%;
      padding: 10px 0; }
      .boarding-pass .infos .places::after,
      .boarding-pass .infos .times::after {
        content: '';
        display: table;
        clear: both; }
    .boarding-pass .infos .times strong {
      transform: scale(0.9);
      transform-origin: left bottom; }
    .boarding-pass .infos .places {
      background: #E2EFE2;
      border-right: 1px solid #99D298; }
      .boarding-pass .infos .places small {
        color: #97A1AD; }
      .boarding-pass .infos .places strong {
        color: #239422; }
    .boarding-pass .infos .box {
      padding: 10px 20px 10px;
      width: 47%;
      float: left; }
      .boarding-pass .infos .box small {
        font-size: 10px; }
  .boarding-pass .strap {
    clear: both;
    position: relative;
    border-top: 1px solid #99D298; }
    .boarding-pass .strap::after {
      content: '';
      display: table;
      clear: both; }
    .boarding-pass .strap .box {
      padding: 23px 0 20px 20px; }
      .boarding-pass .strap .box div {
        margin-bottom: 15px; }
        .boarding-pass .strap .box div small {
          font-size: 10px; }
        .boarding-pass .strap .box div strong {
          font-size: 13px; }
      .boarding-pass .strap .box sup {
        font-size: 8px;
        position: relative;
        top: -5px; }
    .boarding-pass .strap .qrcode {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 80px;
      height: 80px; }

body.mini {
  height: auto;
}

body.mini header {
  display: flex;
  height: 6em;
  background-color: #0089d9; }
  body.mini header header #qway-header-nav {
    background: transparent; }
body.mini #logo {
  display: none; }
body.mini #search-form-flight-wrap {
  background-color: #e3e3e3;
  width: 100%;
  padding: 1em 10%;
  border-radius: 0;
  margin: 0; }

#book-form {
  color: #fff; }
#book-form .modal{
  color: #000;
}
  #book-form input, #book-form select {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;}
  #book-form .navigation-flight-search {
    display: flex;
    justify-content: center;
    padding: 1em; }
  #book-form .item-wrapper .item-logo h4 {
    font-size: 1.2em; }
  #book-form .price {
    display: flex;
    justify-content: space-between;
    padding: 3em 1em;
    border-bottom: 1px dashed; }
    #book-form .price > a {
      align-self: flex-end; }
    #book-form .price .amount {
      font-size: 1.2em;
      font-weight: 600; }
      #book-form .price .amount .taxes-and-fees {
        font-size: .8em;
        font-weight: 100; }
  #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap {
    display: flex;
    align-items: center;
    padding: 2em 1em 1em 1em; }
    #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px; }
    #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 16px;
      color: #fff;
      width: 100%;
      height: 34px; }
    #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid;
      border-radius: 4px;
      padding: 6px 14px;
      font-size: 14px;
      line-height: 1.42857143;
      background: rgba(0, 0, 0, 0.2); }
      #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled:after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px; }
      #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled:hover {
        background: #fff;
        color: #000;
        border: 0; }
      #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled:active, #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled.active {
        background-color: #fff;
        color: #000;
        border: 0; }
        #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled:active:after, #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-styled.active:after {
          top: 9px;
          border-color: transparent transparent #fff transparent; }
    #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-options {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 999;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: rgba(0, 0, 0, 0.9);
      font-size: 14px;
      line-height: 1.42857143;
      color: white;
      border-radius: 4px;
      overflow: hidden; }
      #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-options li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid transparent; }
        #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-options li:hover {
          color: #000;
          background: #fff; }
        #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .select-options li[rel="hide"] {
          display: none; }
    #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .passenger-input-content {
      width: 100%;
      margin-left: 1em; }
    #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .passenger-input-content-row-one, #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .passenger-input-content-row-two {
      display: flex;
      justify-content: space-between; }
      #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .passenger-input-content-row-one .form-group, #book-form .passenger-data-forms .passenger-data-form .passenger-data-form-content-wrap .passenger-input-content-row-two .form-group {
        width: 25%;
        padding: .5em; }
  #book-form .passenger-data-forms .passenger-data-form #persons-gen {
    display: flex;
    align-items: center;
    height: 40px; }
    #book-form .passenger-data-forms .passenger-data-form #persons-gen > label {
      width: 40%;
      margin: 0; }
  #book-form .contact-data #form-contact-data {
    display: flex;
    justify-content: center; }
    #book-form .contact-data #form-contact-data .form-group {
      margin: 1em; }
  #book-form .check {
    padding: 2em;
    border: 1px dashed;
    text-align: center;
    margin-top: 2em; }
  #book-form .custom-help-block {
    text-align: center;
    font-size: 1.2em;
    color: red;
    border: solid;
    margin: 1em;
    display: none; }
  #book-form .book-submit-button {
    width: 100%;
    text-align: center;
    margin-top: 2em; }
    #book-form .book-submit-button button {
      width: 380px;
      font-size: 2em;
      line-height: 65px;
      border: 1px solid #c4c4c4;
      background: #0088d4;
      color: #fff;
      outline: none;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }

#wrap-book-result {
  width: 75%;
  margin: 2em auto;
  /* border: solid 3px #ccc;
   border-top: none;
   border-radius: 0 0 1em 1em;*/
  /*@include flight-avia-wrap(3);*/
  /*#navigation-flight-search {
    margin-top: 1em;
    padding: .5em 0 5em 0;
    display: flex;
    justify-content: space-around;
    button {
      width: 30%;
    }
  }*/ }

#wrap-payment {
  width: 75%;
  margin: 100px auto;
  /*-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);*/ }
#wrap-payment table.ticket-table, .qway-profile-main-content table.ticket-table {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

#wrap-payment table.ticket-table th.head, .qway-profile-main-content table.ticket-table th {
  color: #4e4e4e;
}
#wrap-payment table.ticket-table th.head, .qway-profile-main-content table.ticket-table th span.status {
  margin-left: 10px;
  font-size: 16px;
  border-bottom: 2px dashed;
  color: #4e4e4e;
}
#wrap-payment table.ticket-table th.head, .qway-profile-main-content table.ticket-table th.head {
  padding: 15px 20px;
  text-align: left;
  font-size: 25px;
  background: #02c138;
  border-bottom: none;
  color: #fff;
}

#wrap-payment table.ticket-table th, .qway-profile-main-content table.ticket-table th {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-bottom: 1px dashed #ddd;
}
#wrap-payment table.ticket-table td, .qway-profile-main-content table.ticket-table td {
  height: 70px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-bottom: 1px dashed #ddd;
}
#wrap-payment table.ticket-table td, .qway-profile-main-content table.ticket-table td span.departure-date {
  font-size: 16px;
  color: #0088d4;
}
#wrap-payment table.ticket-table td, .qway-profile-main-content table.ticket-table td span.arrival-date {
  font-size: 16px;
  color: #97185d;
}
#wrap-payment table.ticket-table td, .qway-profile-main-content table.ticket-table td span.price {
  font-size: 25px;
}
#wrap-payment table.ticket-table td, .qway-profile-main-content table.ticket-table td .btn {
  margin: 10px 0;
  padding: 10px 15px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  outline: none;
}

a {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear; }
  a:hover {
    text-decoration: none; }

.qway-profile-main {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap; }
  .qway-profile-main .qway-profile-main-left-menu {
    width: 25%;
    background-color: #fff;
    border-radius: .5em 0 0 .5em;
    overflow: hidden; }
    .qway-profile-main .qway-profile-main-left-menu ul {
      margin: 0;
      padding: 0; }
      .qway-profile-main .qway-profile-main-left-menu ul li {
        display: flex;
        align-items: center;
        list-style: none;
        border-bottom: 1px solid #555; }

        /*ICONS*/
        .qway-profile-main .qway-profile-main-left-menu ul li.personal-account:after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 23px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-user-icon.png');
        }
        .qway-profile-main .qway-profile-main-left-menu ul li.active.personal-account:after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 23px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-user-active-icon.png');
        }

        .qway-profile-main .qway-profile-main-left-menu ul li.travel-history:after {
          content: '';
          display: inline-block;
          width: 21px;
          height: 18px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-calendar-icon.png');
        }
        .qway-profile-main .qway-profile-main-left-menu ul li.active.travel-history:after {
          content: '';
          display: inline-block;
          width: 21px;
          height: 18px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-calendar-active-icon.png');
        }

        .qway-profile-main .qway-profile-main-left-menu ul li.nearest-trip:after {
          content: '';
          display: inline-block;
          width: 24px;
          height: 17px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-history-icon.png');
        }
        .qway-profile-main .qway-profile-main-left-menu ul li.active.nearest-trip:after {
          content: '';
          display: inline-block;
          width: 24px;
          height: 17px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-history-active-icon.png');
        }

        .qway-profile-main .qway-profile-main-left-menu ul li.settings:after {
          content: '';
          display: inline-block;
          width: 21px;
          height: 18px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-settings-icon.png');
        }
        .qway-profile-main .qway-profile-main-left-menu ul li.active.settings:after {
          content: '';
          display: inline-block;
          width: 21px;
          height: 18px;
          vertical-align: middle;
          margin: 0 25px 0 auto;
          background: url('/images/nav-settings-active-icon.png');
        }

        /*ICONS END*/
        .qway-profile-main .qway-profile-main-left-menu ul li:last-child {
          border-bottom: 0; }
        .qway-profile-main .qway-profile-main-left-menu ul li > a {
          width: 100%;
          height: 4em;
          padding: 1.3em 0 0 2em;
          color: #333333;
        }
        .qway-profile-main .qway-profile-main-left-menu ul li > a:focus {
          outline: none;
          text-decoration: none;
        }
          /*.qway-profile-main .qway-profile-main-left-menu ul li:hover {*/
            /*background-color: #0089D9; }*/
          /*.qway-profile-main .qway-profile-main-left-menu ul li:hover a {*/
            /*color: #fff; }*/
      .qway-profile-main .qway-profile-main-left-menu ul .active {
        background-color: #0089D9;
      }
      .qway-profile-main .qway-profile-main-left-menu ul .active > a {
        color: #fff; }
  .qway-profile-main .user-profile-header {
    height: 16.2em;
    display: flex;
    width: 75%;
    justify-content: flex-start;
    padding-left: 5%; }
    .qway-profile-main .user-profile-header > a {
      display: flex;
      font-size: 2em;
      width: 30%;
      text-align: center;
      border: 1px solid #fff;
      border-radius: .2em;
      color: #fff;
      justify-content: center;
      align-items: center; }
      .qway-profile-main .user-profile-header > a:last-child {
        margin-left: 2%;
      }
      .qway-profile-main .user-profile-header > a:hover {
        color: #0089D9;
        border-color: #0089D9; }
  .qway-profile-main .qway-profile-main-content {
    width: 100%; }
    .qway-profile-main .qway-profile-main-content .profile-travel-history-table {
      margin-top: 2em; }
      .qway-profile-main .qway-profile-main-content .profile-travel-history-table table {
        border: 0; }
        .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead {
          background-color: #0089D9;
          color: #fff; }
          .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead th {
            height: 3em;
            border: 0;
            border-right: 1px solid #fff;
            vertical-align: middle; }
            .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead th:last-child {
              border: 0; }
          .qway-profile-main .qway-profile-main-content .profile-travel-history-table table thead a {
            color: #fff; }
        .qway-profile-main .qway-profile-main-content .profile-travel-history-table table tbody .profile-travel-history-row {
          background-color: #fff;
          min-height: 5em;
          height: 5em; }
          .qway-profile-main .qway-profile-main-content .profile-travel-history-table table tbody .profile-travel-history-row > td {
            vertical-align: middle; }
        .qway-profile-main .qway-profile-main-content .profile-travel-history-table table tbody:before {
          content: "-";
          display: block;
          line-height: 1em;
          color: transparent; }
        .qway-profile-main .qway-profile-main-content .old-ticket {
          -webkit-border-radius: 10px 10px 0 0;
          -moz-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
          opacity: 0.4;
        }
        .qway-profile-main .qway-profile-main-content .old-ticket th.head {
          background: #616161;
        }

        .qway-profile-main .qway-profile-main-content .old-ticket td span.departure-date {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        .qway-profile-main .qway-profile-main-content .old-ticket td span.arrival-date {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }

        .qway-profile-main .qway-profile-main-content table.to-refund th.head {
          background: #ff3838;
        }
    .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item {
      display: flex;
      width: 100%;
      background-color: #fff;
      margin: 2em 0;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      border-radius: .5em; }
      .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-header {
        padding: 1em;
        background-color: #0089d9;
        color: #fff;
        font-weight: 600; }
      .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body {
        padding: 1em; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .departure {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .terminal {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .equipment {
          width: 20%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .bort-class {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .date {
          width: 20%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .fullname {
          width: 20%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .status {
          width: 10%; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .coming-trips-item-body-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-body .coming-trips-item-body-content {
          display: flex;
          justify-content: space-between; }
      .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-footer {
        padding: 1em; }
        .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-footer > button {
          margin: 0 2em;
          border-radius: 1.5em; }
          .qway-profile-main .qway-profile-main-content .profile-coming-trips .coming-trips-item .coming-trips-item-footer > button:first-child {
            margin: 0; }
    .qway-profile-main .qway-profile-main-content .user-profile-update {
      background-color: #fff; }

  /*#get-flight-rules {
    color: #fff;
    border: 1px #fff solid;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #get-flight-rules:hover {
    background: #60696b;
  }*/
  .site-about{ color: #fff;}
  .user-profile-create { color: #fff; width:100%; }
  .user-profile-form input.form-control, .user-profile-form select.form-control {background-color: transparent; color:white; outline: none;}
  .user-profile-form select.form-control {color: #dcdddd;}
  #user-change-password-form{
    border: 1px white solid;
    padding: .5em 2em 2em 2em;
    border-radius: .5em;
    margin-top: 15px;
    color: white;
  }
  #user-change-password-form input{
    background: transparent;
    color: white;
  }
  .exchange-data {
    padding: 10px 0;
    text-align: center;
    background: #337ab7;
    color: #fff;
  }
  .exchange-data h1.exchange-data-title {
    font-size: 25px;
    margin: 0;
  }

  .zigzag {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .zigzag:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
  }
  .container2 {
    background: #f7f7f7;
  }
  .container2:before {
    background:
            linear-gradient(
                    45deg, transparent 33.333%,
                    #E2E2E2 33.333%, #f7f7f7 66.667%,
                    transparent 66.667%
            ),
            linear-gradient(
                    -45deg, transparent 33.333%,
                    #E2E2E2 33.333%, #f7f7f7 66.667%,
                    transparent 66.667%
            );
    background-size: 10px 40px;
  }
  .container2:after {
    content: "";
    display: block;
    background: linear-gradient( 45deg, transparent 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, transparent 66.667% ), linear-gradient( -45deg, transparent 33.333%, #f7f7f7 33.333%, #f7f7f7 66.667%, transparent 66.667% );
    background-size: 10px 40px;
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 100%;
    transform: rotate(180deg);
  }
  .textCenter {
    text-align: center;
    margin-top: 37px;
    color: #717171;
  }
  .paymentSuccess {
    margin-top: 10px;
    background-color: #a09b9b;
    color: white;
    padding-top: 5px;
    height: 25px;
  }
/*# sourceMappingURL=site.css.map */
