.pignose-calendar {
	/*font-family: 'Open Sans';*/
	font-size: 14px !important;
}

.language-calender .pignose-calender {
	margin-top: .4em !important;
}

@media screen and (max-width: 640px) {
	.pignose-calendar {
		font-size: 12px !important;
	}
}