#wrap, table {
    font-family: dejavusans;
}

.table td{
    font-size: 8pt;
    font-weight: 100;
    padding: 2pt;
    color: #434343;
}

.header h3 {
    font-size: 11pt;
    padding-top: 25px;
    text-align: center;
}

.head {
    background-color: #d1deee;
    width: 100%;
}
