#filter-panel {
    padding: 35px 0;
}

#filter-source-message a {
    width: 100%;
    margin: 10px 0;
}

.between-id-search>label {
    padding: 6px 12px;
}

#load-type {
    margin-top: 20px;
    margin-bottom: 30px;
}