#book-form {
  color: #fff;
  input, select {
    background: rgba(0,0,0,.2);
    color: #fff;
  }


  .navigation-flight-search {
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  .item-wrapper {
    .item-logo {

      h4 {
        font-size: 1.2em;
      }
    }
    .item-cont {

    }
  }
  .price {
    display: flex;
    justify-content: space-between;
    padding: 3em 1em;
    border-bottom: 1px dashed;
    > a {
      align-self: flex-end;
    }
    .amount {
      font-size: 1.2em;
      font-weight: 600;
      .taxes-and-fees {
        font-size: .8em;
        font-weight: 100;
      }
    }
  }
  .passenger-data-forms {
    .passenger-data-header {

    }
    .passenger-data-form {
      //background: #f9fafc;
      //border-top: dotted 1px #aaa;
      &:last-child {
        //border-bottom: dotted 1px #aaa;
      }
      .passenger-data-form-content-wrap {
        display: flex;
        align-items: center;
        padding: 2em 1em 1em 1em;
        //border: dotted 1px #aaa;

        $background: transparent;
        $select-color: #fff;
        $select-background: transparent;
        $select-width: 100%;
        $select-height: 34px;


        .select-hidden {
          display: none;
          visibility: hidden;
          padding-right: 10px;
        }
        .select {
          cursor: pointer;
          display: inline-block;
          position: relative;
          font-size: 16px;
          color: $select-color;
          width: $select-width;
          height: $select-height;
        }
        .select-styled {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 1px solid;
          border-radius: 4px;
          //width: 25%;
          //background-color: $select-background;
          padding: 6px 14px;
          font-size: 14px;
          line-height: 1.42857143;
          background: rgba(0, 0, 0, 0.2);
          &:after {
            content:"";
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-color: $select-color transparent transparent transparent;
            position: absolute;
            top: 16px;
            right: 10px;
          }
          &:hover {
            background: #fff;
            color: #000;
            border: 0;
          }
          &:active, &.active {
            background-color: #fff;
            color: #000;
            border: 0;
            &:after {
              top: 9px;
              border-color: transparent transparent $select-color transparent;
            }
          }
        }

        .select-options {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          z-index: 999;
          margin: 0;
          padding: 0;
          list-style: none;
          background-color: rgba(0,0,0,.9);
          font-size: 14px;
          line-height: 1.42857143;
          color: white;
          border-radius: 4px;
          overflow: hidden;
          li {
            margin: 0;
            padding: 12px 0;
            text-indent: 15px;
            border-top: 1px solid darken($select-background, 10);
            &:hover {
              color: #000;
              background: $select-color;
            }
            &[rel="hide"] {
              display: none;
            }
          }
        }

        .passenger-input-content {
          width: 100%;
          margin-left: 1em;
        }
        %passenger-input-content-row {
          display: flex;
          justify-content: space-between;
          .form-group {
            width: 25%;
            padding: .5em;
          }
        }
        .passenger-input-content-row-one {
          @extend %passenger-input-content-row;
        }
        .passenger-input-content-row-two {
          @extend %passenger-input-content-row;
        }
      }
      #persons-gen {
        display: flex;
        align-items: center;
        height: 40px;
        > label {
          width: 40%;
          margin: 0;
        }

      }
    }
  }
  .contact-data {
    .contact-data-header {
    }
    #form-contact-data {
      display: flex;
      justify-content: center;
      .form-group {
        margin: 1em;
      }
    }
  }
  .check {
    padding: 2em;
    border: 1px dashed;
    text-align: center;
    margin-top: 2em;
  }
  .custom-help-block {
    text-align: center;
    font-size: 1.2em;
    color: red;
    border: solid;
    margin: 1em;
    display: none;
  }
  .book-submit-button {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    button {
      padding: 0.2em 1em;
      font-size: 2em;
      border-radius: 2em;
    }
  }

}

#wrap-book-result {
  width: 65%;
  margin: 2em auto;
  /* border: solid 3px #ccc;
   border-top: none;
   border-radius: 0 0 1em 1em;*/
  /*@include flight-avia-wrap(3);*/
  /*#navigation-flight-search {
    margin-top: 1em;
    padding: .5em 0 5em 0;
    display: flex;
    justify-content: space-around;
    button {
      width: 30%;
    }
  }*/

}