body.mini {
  header {
    display: flex;
    height: 4em;
    background-color: #0089d9;
    header #qway-header-nav {
      background: transparent;
    }
  }
  #logo {
    display: none;
  }

  #search-form-flight-wrap {
    background-color: #e3e3e3;
    width: 100%;
    padding: 1em 10%;
    border-radius: 0;
    margin: 0;

  }
}

