*,
*::before,
*::after {
  box-sizing: border-box;
}


/*--------------------
Boarding Pass
--------------------*/
.boarding-pass {
  //@include center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  overflow: hidden;
  text-transform: uppercase;

  small {
    display: block;
    font-size: 11px;
    color: #A2A9B3;
    margin-bottom: 2px;
  }

  strong {
    font-size: 15px;
    display: block;
  }

  /*--------------------
  Header
  --------------------*/
  & header {
    background: linear-gradient(to bottom, #36475f, #2c394f);
    padding: 12px 20px;
    height: 53px;

    .logo {
      float: left;
      width: 104px;
      height: 31px;
    }

    .flight {
      float: right;
      color: #fff;
      text-align: right;

      small {
        font-size: 8px;
        margin-bottom: 2px;
        opacity: 0.8;
      }

      strong {
        font-size: 18px;
      }

    }
  }

  /*--------------------
  Cities
  --------------------*/
  .cities {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .item {
      width: 20%;
      padding: 20px 18px;
      float: left;
    }

    .airlift-cities {
      display: flex;
      justify-content: space-around;
      text-align: center;
      width: 60%;
      .airlift-city {

      }
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    .city {


      &:nth-child(2) {
        float: right;
      }

      strong {
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
      }

      small {
        margin-bottom: 0px;
        margin-left: 3px;
      }
    }
    .last {
      text-align: right;
    }

    .airplane {
      position: absolute;
      width: 30px;
      height: 25px;
      top: 57%;
      left: 30%;
      opacity: 0;
      transform: translate(-50%, -50%);
      animation: move 4s infinite;
    }

    @keyframes move {
      40% {
        left: 50%;
        opacity: 1;
      }
      100% {
        left: 70%;
        opacity: 0;
      }
    }
  }


  /*--------------------
  Infos
  --------------------*/
  .infos {
    display: flex;
    border-top: 1px solid #99D298;

    .places,
    .times {
      width: 50%;
      padding: 10px 0;

      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }

    .times {

      strong {
        transform: scale(0.9);
        transform-origin: left bottom;
      }
    }

    .places {
      background: #E2EFE2;
      border-right: 1px solid #99D298;

      small {
        color: #97A1AD;
      }

      strong {
        color: #239422;
      }
    }

    .box {
      padding: 10px 20px 10px;
      width: 47%;
      float: left;

      small {
        font-size: 10px;
      }
    }
  }


  /*--------------------
  Strap
  --------------------*/
  .strap {
    clear: both;
    position: relative;
    border-top: 1px solid #99D298;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    .box {
      padding: 23px 0 20px 20px;

      & div {
        margin-bottom: 15px;

        small {
          font-size: 10px;
        }

        strong {
          font-size: 13px;
        }
      }

      sup {
        font-size: 8px;
        position: relative;
        top: -5px;
      }
    }
    .qrcode {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 80px;
      height: 80px;
    }
  }
}