#search-form-flight-wrap {
  @include search-flight-wrap();
  padding: 1em;
  z-index: 10;
  border-radius: 1em;
  #search-form-header {
    width: 55%;
    display: flex;
    padding: 0 0 0 2em;
    color: #fff;
    span {
      &:first-child {
        width: 52%;
      }
    }
  }
  .wrap-form-group-city-data {
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: .2em;
    flex-wrap: wrap;
    padding: .1em 0;
    overflow: hidden;
    border-radius: 2em;
    &:first-child {
      border-radius: 2em 2em 0 0;
    }
    &:last-child {
      border-radius: 0 0 2em 2em;
    }
    .polyfill-serach-form {
      width: 80%;
    }
    .search-flight-form-passenger-group {
      width: 16%;
      input {
        box-shadow: none;
        border: 0;
        //border-right: 2px solid #ddd;
        border-radius: 0;
        height: 3em;
        //$marginLeft: 1;
      }
    }
    .date-list {
      .required {
        &.has-error {
          input {
           /* border: 2px solid #a94442;
            border-radius: 0 2em 2em 0;*/
          }
        }
      }
    }

    //.search-flight-form-image-group {
    //  @include wrap-form-group(0, 10%);
    //  .first-img {
    //    margin-top: -60%;
    //    overflow: hidden;
    //  }
    //  .second-img {
    //    margin-top: -50%;
    //  }
    //  .three-img {
    //    margin-top: -40%;
    //  }
    //  .four-img {
    //    margin-top: -40%;
    //  }
    //  .five-img {
    //    margin-top: -40%;
    //  }
    //  .six-img {
    //    margin-top: -30%;
    //  }
    //  .additional-img {
    //    display: none;
    //  }
    //  .choose-img {
    //    margin-top: -2em;
    //  }
    //
    //
    //  /*padding: 1em 0 0 0;
    //  img {
    //    height: 64px;
    //  }
    //  img:first-child {
    //    width: 100%;
    //    height: auto;
    //    margin-bottom: .5em;
    //  }
    //  .when-image {
    //    margin: .3em 0 .2em 0;
    //  }
    //  .backward-image {
    //    width: 90%;
    //    height: auto;
    //    margin-top: 1em;
    //  }*/
    //}
    .search-flight-form-city-group {
      @include wrap-form-group(0, 55%);
      display: flex;
      flex-wrap: wrap;
      //padding: 1em 0 0 .5em;
      .qway-search-required-city {
        display: flex;
        width: 50%;
        flex-direction: column;
        //margin-bottom: .5em;
       /* $label: 'not';
        $marginLeft: 0;*/
        input {
          padding-left: 2em;
          box-shadow: none;
          border: 0;
          border-right: 2px solid #ddd;
          border-radius: 0;
          height: 3em;
          //$marginLeft: 1;
        }
        &.has-error {
          input {
            border: 2px solid #a94442;

          }
        }
        .help-block {
          /*@if $marginLeft == 1 {
            margin-left: 1.1em;
          }*/
          display: none;
        }

        &:first-child {
          input {
            border-radius: 2em 0 0 2em;
          }
        }


        /*.one-block-city-input {
          display: flex;
          label {
            //width: 20%;
            margin: 0;
            $label: 'exist';
            img {
              height: 64px;
              margin-right: .5em;
            }
          }

          .input-imitate {
            display: flex;
            flex-wrap: wrap;
            height: 64px;
            border: solid 1px #ddd;
            border-radius: .2em;
            !* width: 80%;*!
            input {
              //padding: .5em 1.5em;
              font-size: 1.4em;
              padding: .5em 0 0 2em;
              width: 90%;
            }
            .clear-input {
              width: 10%;
              margin-top: 1.6em;
              text-align: center;
              color: #666;
              &:hover {
                cursor: pointer;
              }
            }
            .remove-arrival-button {
            }
        }


          .help-block {
            @if $label == exist {
              //margin-left: 20%;
              !* margin-left: 1sem;*!
            }
          }
        }
        .two-block-city-input {
          display: flex;
          height: 2em;
          .reverse-city-flight {
            margin-left: 4em;
            padding: .5em .5em 0 .5em;
            color: #ccc;
            &:hover {
              cursor: pointer;
            }
            &.active {
              color: #000;
            }
          }
          .reverse-city-flight-empty {
            margin-left: 4em;
            padding-top: .15em;
            padding-left: 24px;
          }
          .help-block {
            padding-top: .25em;
            margin-left: 10%;
          }
        }*/

        .example-input-city {
          display: inline;
        }
      }

    }
    .search-flight-form-date-group {
      @include wrap-form-group(1.5, 25%);
      display: flex;
      flex-wrap: wrap;
      input {
        box-shadow: none;
        border: 0;
        border-right: 2px solid #ddd;
        border-radius: 0;
        height: 3em;
        //$marginLeft: 1;
      }
      .required {

        &.has-error {
          input {
            border: 2px solid #a94442;
          }
        }
        .help-block {
          /*@if $marginLeft == 1 {
            margin-left: 1.1em;
          }*/
          display: none;
        }
      }

      //flex-direction: column;
      /*
      justify-content: space-between;*/
      > div {
        //margin-bottom: 2em;
        width: 50%;
      }
      .only-row-trip-date {
        width: 100%;
      }
    }
  }
}






.wrap-passenger-and-cabin-group {
  width: 14.55%;
  /* float: right; */
  position: absolute;
  left: 71.9%;
  display: none;
  background-color: #fff;
  border-radius: 0 0 .5em .5em;
  //margin-top: -0.2em;
  padding: 1em 0;
  /*-webkit-box-shadow: 0px 0px 11px 0px #02303e;
  -moz-box-shadow: 0px 0px 11px 0px #02303e;
  box-shadow: 0px 0px 11px 0px #02303e;*/
}

.help-block {
  padding-left: .8em;
}





#wrap-form-group-people {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  //padding: 0 .5em 0 2.5em;


  .qway-search-required-people {
    //width: 30%;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    //align-items: center;
    .control-label {
      padding: .6em 0 0 0;
      margin: 0;
      width: 40%;
      font-weight: 300;
    }
    .input-group {
      //width: 60%;
    }
    > div {
      width: 60%;
    }
    .help-block {
      display: none;
    }
    input {
      //@include search-input-padding();
      //text-align: center;
      padding: 0 1em;
      background-color: transparent;
    }
  }
}

.search-flight-submit-button {
  width: 100%;
  text-align: center;
  margin: 3em 0;

  button {
    display: inline-block;
    //width: 50%;
    padding: 1em 1em .8em 1em;
    font-size: 1em;
    width: 44%;
    //font-weight: 300;
    //height: 1.8em;
    border-radius: 2em;

    i {
      font-size: 1.6em;
      margin-top: -0.1em;
      &:first-child {
        float: left;
      }
      &:last-child {
        background-color: #fff;
        border-radius: 1em;
        color: #337ab7;
        font-size: 1.8em;
        float: right;
        width: 1em;
      }
    }

  }
}

.nav > li > a {
  padding: .2em;
}

.autocomplete-suggestions {
  //margin-top: .5em;
  //background: #f3f3f3;

  &:before {
    content: "Выберите из списка";
    padding: 1em;
    color: #bbb;
  }
  padding: 1em 0 0 0;

  margin-top: .3em;
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  overflow: hidden;
  border: 1px solid #999;
  width: 250px;
  .autocomplete-suggestion {
    border-bottom: 1px solid #ddd;
    padding: .5em 1em;
    &:first-child {
      margin-top: .5em;
    }
    &:last-child {
      margin-bottom: .5em;
      border: 0;
    }
  }
  .autocomplete-selected {
    color: green;
    background-color: #dddddd;
    &:hover {

      cursor: pointer;
    }

  }
}

/*
.help-block {
  display: none;
}
*/

#wrap-form-group-additional-arrival {
  //display: inline-block;
  //width: 48%;
  //border: 1px dashed #d1d1d1;
  //padding: 1em;
  //text-align: center;
  //padding: 0 0 0 1.8em;
  //margin: 1em;
  //display: none;
}

.wrap-continue-route-group {
  display: none;
  //display: flex;
  margin-top: 1em;
  .additional-arrival-button {
    background-color: green;
    border: 0;
    color: #fff;
    border-radius: 2em;
    width: 40%;
  }
  .remove-itinerary {
    width: 40%;
    background-color: red;
    border: 0;
    color: #fff;
    border-radius: 2em;
  }
  .search-flight-form-passenger-group {
    display: inline;
    width: 20%;
    -webkit-box-shadow: 0px 0px 11px 0px #02303e;
    -moz-box-shadow: 0px 0px 11px 0px #02303e;
    box-shadow: 0px 0px 11px 0px #02303e;
    border-radius: 2em !important;
    overflow: hidden;
    input {


    }
  }
}


#wrap-form-group-cabin {
  display: inline-block;
  width: 100%;
  padding: .5em;
  /*padding: 1em;
  margin: 1em;*/
}

.additional-date {
  display: none;
}

.additional-arrival-city {
  display: none !important;
}

.additional-image {
  display: none !important;
}



#remove-arrival-button {
  display: none;
}

/*
.reset-search-flight-form:before {
  content: "\e020";
}*/
.help-block {
  margin: 0;
}

.custom-help-block-date {
  display: none;
  color: #a94442;
}

.navbar-inverse .navbar-nav > li > a {
  transition: all 0.5s ease;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #56b6ff;
}

.blocks-input {
  font-size: .9em;
  display: flex;
  width: 100%;
  .hint-block {
    margin-top: .8em;
    /*width: 57%;*/
    padding-left: .3em;
  }
  .help-block {
    margin-top: .8em;
    width: 42%;
    font-weight: 600;
  }
}

.example-input-city {
  .example-city {
    color: #3375a3;
    &:hover {
      cursor: pointer;
      color: #519049;
    }
  }
}


#loader-flight-search {
  display: none;
  width: 100%;
  margin: 3em 0;
  text-align: center;
  .loader-main {
    margin: 0 auto;
    height: 50px;
    width:  50px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) hsl(207, 50%, 38%) white hsl(207, 50%, 38%);
    border-radius: 100%;
    animation: clockwise 1.01s linear infinite;
  }

  .loader-main:after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    height: 30px;
    width:  30px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(0, 2%, 91%) transparent transparent;
    border-radius: 100%;
  }

  .loader-main div {
    position: relative;
    height: 40px;
    width:  40px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(213, 46%, 88%) transparent hsl(213, 46%, 88%);
    border-radius: 100%;
    animation: counter-clockwise 0.49s linear infinite;
  }

  .loader-main div:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 30px;
    width:  30px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent hsla(0, 2%, 91%, 1);
    border-radius: 100%;
  }
}

#overlay-loader {
  display: none;
  background: rgba(48, 101, 144, .9);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  top: 0;
  left: 0;
  .loader-main {
    margin: 50vh auto;
    height: 50px;
    width:  50px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) hsl(207, 50%, 38%) white hsl(207, 50%, 38%);
    border-radius: 100%;
    animation: clockwise 1.01s linear infinite;
  }

  .loader-main:after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    height: 30px;
    width:  30px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(0, 2%, 91%) transparent transparent;
    border-radius: 100%;
  }

  .loader-main div {
    position: relative;
    height: 40px;
    width:  40px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(213, 46%, 88%) transparent hsl(213, 46%, 88%);
    border-radius: 100%;
    animation: counter-clockwise 0.49s linear infinite;
  }

  .loader-main div:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 30px;
      width:  30px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent hsla(0, 2%, 91%, 1);
      border-radius: 100%;
    }
}

@keyframes clockwise {
  to {transform: rotate(360deg) translatez(0);}
}
@keyframes counter-clockwise {
  to {transform: rotate(-360deg) translatez(0);}
}

#search-form-flight-wrap {

  #searchformamadeus-tripdatebackward {
    border-right: 2px solid #ddd;
  }
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 0;
}
.input-group .form-control {
  z-index: 0;
}

.qway-search-required-people {
  .input-group {
    button {
      font-size: 10px;
    }
  }
}




/*.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 1em auto 0;
  !*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*!
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #3399ff;
  color: #ffffff;
  font-family:'Times New Roman';
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;

}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;

  !*border-bottom: 1px solid #bbb;*!
}

.ui-datepicker th {
  background-color:#808080;
  text-transform: uppercase;
  font-size: 8pt;
  color: #666666;
  !*text-shadow: 1px 0px 0px #fff;*!
  !*filter: dropshadow(color=#fff, offx=1, offy=0);*!
}

.ui-datepicker tbody td {
  padding: 0;
  !*border-right: 1px solid #808080;*!
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  !*font-weight: bold;*!
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  !*text-shadow: 1px 1px 0px #fff;*!
  !*filter: dropshadow(color=#fff, offx=1, offy=1);*!
}

.ui-datepicker-calendar .ui-state-default {
  background: linear-gradient(#999999, #737373);
  color:#ffffff;
  height:40px;
  width:40px;

}

.ui-datepicker-calendar .ui-state-hover {
  background: #33adff;
  color: #FFFFFF;
}

.ui-datepicker-calendar .ui-state-active {
  background: #33adff;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #D6E4BE;
  color: #000;
}*/

#ui-datepicker-div {
  width: 18%;
  margin-top: 0.3em;
  border-radius: 0 0 .5em .5em;
  padding: 0 0 1em 0;
  .ui-datepicker-header {
    border: 0;
    background: none;
    padding: 0;
    border-bottom: 1px solid #ddd;
    .ui-datepicker-title {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: .5em;
    }

    .ui-datepicker-prev > i, .ui-datepicker-next > i {
      position: absolute;
      left: 8px;
      padding-top: .7em;
    }

    .ui-datepicker-prev {
      width: 2.3em;
      height: 2.7em;
      top: 0;
      left: 0;
      border-radius: 0;
      text-align: center;
      &:hover {
        //background: none;
        background: #3375a3;
        color: white;
        cursor: pointer;
      }
      > i {
        left: 12px;
        padding-top: .9em;
      }
    }

    .ui-datepicker-next {
      width: 2.3em;
      height: 2.7em;
      top: 0;
      right: 0;
      border-radius: 0;
      text-align: center;
      &:hover {
        //background: none;
        background: #3375a3;
        color: white;
        cursor: pointer;
      }
      > i {
        left: 12px;
        padding-top: .9em;
      }
    }

  }
  .ui-datepicker-calendar {
    width: 95%;
    font-size: .9em;
    border-collapse: collapse;
    /* margin: 0 0 .4em; */
    margin: auto;
    thead {
      tr {
        th {
          font-weight: 100;
          color: #999;
        }
      }
    }
    tbody {
      padding: 1em 0;
      a, span {
        background: transparent;
        border: 0;
      }
    }
  }
}
