#search-result {
  width: 85%;
  margin: 2em auto 0 5em;
  /* background: #fff; */
  display: none;
  aside {
    width: 13%;
  }
  #search-all-result-wrap {
    width: 80%;
    padding: 1em;
    #search-flight-filter {
      padding: 0 3em;
      color: #fff;
      background-color: rgba(102, 107, 109, .8);
      margin: 1em 0;
      display: flex;
      justify-content: space-between;
      border-radius: 0.5em;
      overflow: hidden;
      h5 {
        display: inline;
      }
      .content {
        display: inline;
        .item-filter {
          margin: .5em;
          padding: 0 .5em;
        }
      }
      .select-filter {
        display: inline;
        width: auto;
        height: 23px;
        padding: 0;

      }
    }
    .best-flight {
      %best_header {
        padding: 0 3em;
        text-align: center;
        color: #fff;
        background-color: rgba(102, 107, 109, .8);
        margin: 1em 0;
        height: 3em;
        width: 80%;
        display: inline-flex;
        border-radius: .5em;
      }
      .best-amount {

        > header {
          @extend %best_header;
        }
      }
      .best-elapsed {
        > header {
          @extend %best_header;
        }
      }
      .recommendation-count {
        display: inline-flex;
        font-size: 1.5em;
        padding-left: 1em;
        color: #fff;
        span {
          color: #faaf00;
        }
      }
      .content-best-flight {
        //display: flex;
        //padding: 1em;
        //border: 1px solid #306590;
        //width: 98%;
        margin: 0 auto 1em auto;
      }
    }
    /*.search-result-item {
      background-color: #fff;
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 1em;
      padding: 1em;
      //border-bottom: solid 5px #ccc;
      !*display: flex;*!
      //border-bottom: 1px solid #ddd;
      //border-radius: .3em;


    }*/
    .combination-block {
      display: none;
      /*border: 1px solid #306590;
      margin-bottom: 1em;
      padding: 1em;*/
    }
    .backward-header {
      display: none;

      color: #fff;
      margin-bottom: 1em;
      i {
        border-radius: .3em 0 0 .3em;
        background-color: #ffb200;
        color: #0089d9;
        font-size: 2em;
        padding: .4em 1em;
      }
      .backward-header-txt {
        width: 40%;
        display: flex;
        padding: 1em 3em;
        background-color: #fff;
        color: #000;
        border-radius: 0 .3em .3em 0;

      }
      .backward-content {
        padding: 1em 3em;
        width: 60%;
        display: flex;
        justify-content: space-between;
        .backward-departure-cont {

        }
        .backward-img-cont {
          i {
            background-color: transparent;
            color: #fff;
            font-size: 1em;
            padding: 0;
            /* border-radius: .3em 0 0 .3em; */
            /* background-color: #ffb200; */
            /* color: #0089d9; */
            /* font-size: 2em; */
            /* padding: .4em 1em; */
          }
        }
        .backward-arrival-cont {

        }
      }
    }
  }
}
%item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-header {
  @extend %item;
  padding: 0 1em;
  .search-result-header {
    width: 20%;
    font-size: .8em;
    color: #999;
    padding: .5em;
    //padding-bottom: 1em;
  }
  .search-result-header-airline {
    //padding-left: 3em;
  }
  .search-result-header-amount {
    padding-left: 4em;
  }
}
.item-content {
  @extend %item;
  padding: 1em;
}
.item-content-multi {
  display: flex;
  flex-direction: column;
  .multi-flight {
    @extend %item;
    padding: 1em;
  }
  hr.flight-border {
    border-top: 1px dashed #adadad;
    width: 55%;
    padding-right: 20%;
    margin: 0;
    &:last-child {
      border: none;
    }
  }
}


.airline-content {
  img {
    width: 90%;
  }
}

.amount-content {
  span {
    width: 100%;
    #add-ticket {
      width: 100%;
    }
  }
}



.block-item-content {
  width: 20%;
  display: flex;
  padding: 0 .5em;
  flex-direction: column;
  justify-content: space-between;
  //text-align: center;
  .block-child-header {
    /*align-self: baseline;*/
    color: #999;
    margin-bottom: 1em;
  }
  %block-child {
    width: 100%;
    margin: auto;
    padding: .1em 0;
    font-weight: bold;
    font-size: .9em;
  }
  .block-child-data {
    @extend %block-child;
  }
  .block-amount-data {
    @extend %block-child;
    font-size: 1.5em;
    text-align: center;
  }
  .block-time-location {
    @extend %block-child;
    font-size: 1.5em;
  }
  .free-seats {
    font-weight: 100;
    font-size: .8em;
    color: #555;
  }
  .airline-name {
    //text-align: center;
  }
  .block-departure-date {
    font-size: 1.5em;
  }
  .block-departure-time, .block-arrival-time {
    font-size: 1.5em;
  }

}

.clear-item-content {
  display: flex;
  flex-direction: row;
  i {
    margin: auto;
    background-color: #cde5e5;
    align-self: center;
    padding: 1em;
    border-radius: 3em;
    color: #fff;
    transition: all 0.5s ease;
    &:hover {
      cursor: pointer;
      background-color: #b3c8c8;
    }
  }
}



#book-form {
  display: none;
}








#book-result-modal {
  .modal-flight-to-payment {
    margin: 1em 0;
    display: none;
  }
  .item-content {
    display: flex;
    .block-item-content {
      width: 25%;
      justify-content: flex-start;
      .block-child-header {
        font-size: .9em;
      }
      .block-departure-date {
        font-size: 1em;
      }
      .block-elapsed-time, .block-bort-name {
        padding-bottom: 2em;
      }
    }
  }
  #book-id-text {
    font-size: 1.5em;
  }
}

#payment-form {
  text-align: center;
  button {
    padding: 0.2em 1em;
    font-size: 2em;
  }
}

.block-empty-corruptible {
  padding: .5em;
}

.radio-inline {
  margin-left: .5em;
}



.information-block {
  .header-information-block {
    background-color: #fff;
    display: flex;
    border-radius: .5em;
    overflow: hidden;
    span {
      background-color: #f4af02;
      font-size: 3em;
      top: 0;
      color: #fff;
      padding: 0 1em;
      i {
        transform: rotate(135deg);
        top: .2em;
      }
      //padding: 0.1em .2em;
    }
    p {
      padding-top: 0.7em;
      text-align: center;
      width: 75%;
      margin: 0;
      font-size: 1.5em;
    }
  }
}

.best-flight {
  display: none;
  margin-bottom: 2em;
  .item-wrapper {
    .item-logo {
      color: #fff;
      background-color: #0089d9;
      width: 15%;
      text-align: center;
      header {
        height: 3em;
        background: none;
        span {
          width: 100%;
          text-align: center;
        }
      }
      section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
        img {
          padding-top: 40%;
          /* padding-bottom: 40%; */
          width: 75%;
          /* height: auto; */
          height: 0%;
        }
      }
      span {
        font-weight: 600;
      }

    }
    .item-cont {
      width: 65%;
      header {
        height: 3em;
        background-color: #f4f2f4;
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        .left-block {

        }
        .right-block {

        }
        span {
          font-size: .8em;
          color: #888;
        }
        h5 {
          display: inline;
          width: auto;
          color: rgb(0, 52, 107);
          font-weight: 600;
        }
      }
      section {
        display: flex;
        justify-content: center;
        padding-top: .5em;
        header {
          background: none;
        }
        .port-cont {
          width: 25%;
          section {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
        }
        .departure-cont {
          color: #0089d9;
          header {
            h4 {
              //color: #0089d9;
              font-weight: 600;
            }
          }
          section {

          }
        }
        .transplantation-cont {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0;
          overflow: hidden;
          #curve-line {
            position: relative;
            top: -1em;
          }
          i {
            padding: .1em;
          }

          .fa-departure {
            color: rgb(0, 52, 107);
          }
          .fa-arrival {
            color: #ff00d9;
            transform: rotate(90deg);
          }
          .fa-transplantation-all {
            //display: none;
            position: absolute;
            color: red;
            z-index: 1;
          }

          .fa-transplantation-num_1 {
            left: 41%;
            height: 2.7em;
          }
          .fa-transplantation-num_2 {
            left: 44.5%;
            height: 3.9em;
          }
          .fa-transplantation-num_3 {
            left: 48%;
            height: 4.5em;
          }
          .fa-transplantation-num_4 {
            left: 51.5%;
            height: 3.9em;
          }
          .fa-transplantation-num_5 {
            left: 55%;
            height: 2.7em;
          }


        }
        .arrival-cont {
          color: #ff00d9;
          header {
            h4 {

              font-weight: 600;
            }
          }
          section {

          }
        }
      }
    }
    .item-amount {
      width: 20%;
      background-color: #f4f2f4;
      color: rgb(0, 52, 107);
      header {

        height: 3em;
        background: none;
        > span {
          width: 100%;
          text-align: center;
          span {
            color: red;
          }
        }

      }
      section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 12em;
        padding: 1em .5em;
        .amount {

          h2 {
            display: inline;
          }
        }
        > p {
          font-size: .8em;
          color: #888;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}

/*.item-wrapper, .content-best-flight {
  display: flex;
  flex-direction: column;
  .wrap-info-content {
    position: relative;
    left: -1em;
    width: 2em;
    text-align: center;
    color: #ffb11e;
    .ticket-designator {
      margin-top: 1em;
      &:hover {
        cursor: pointer;
      }
    }
    .ticket-designator-message {
      display: none;
    }
  }
  .wrap-main-content {
    width: 97%;
  }
}*/

.item-wrapper {
  margin-bottom: 2em;
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 15em;
  border-radius: 0.5em;
  overflow: hidden;
  .item-logo {
    color: #fff;
    background-color: #0089d9;
    width: 15%;
    text-align: center;
    overflow: hidden;
    header {
      height: 3em;
      background: none;
      span {
        width: 100%;
        text-align: center;
      }
    }
   /* section {

      !*img {
        padding-top: 40%;
        !* padding-bottom: 40%; *!
        width: 75%;
        !* height: auto; *!
        height: 0%;
      }*!
    }*/
    %section-airline {
      display: flex;
      justify-content: space-around;
      margin: 0;
      color: #fff;
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
      height: 120px;
    }



    .bek-air {
      @extend %section-airline;
      background-image: url("/images/airlineslogo/bek-air.png");
    }
    .air-astana {
      @extend %section-airline;
      background-image: url("/images/airlineslogo/airastana.png");
    }



    h4 {
      /*padding: 7em .5em .5em .5em;
      text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);*/
      //padding-top: .5em;
    }

  }
  .item-cont {
    width: 65%;
    header {
      height: 3em;
      background-color: #f4f2f4;
      display: flex;
      padding: 0 1em;
      justify-content: space-between;
      .left-block {

      }
      .right-block {

      }
      span {
        font-size: .8em;
        color: #888;
      }
      h5 {
        display: inline;
        width: auto;
        color: rgb(0, 52, 107);
        font-weight: 600;
      }
    }
    section {
      display: flex;
      justify-content: center;
      padding-top: .5em;
      header {
        background: none;
      }
      .port-cont {
        width: 25%;
        section {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }
      .departure-cont {
        color: #0089d9;
        header {
          h4 {
            //color: #0089d9;
            font-weight: 600;
          }
        }
        section {

        }
      }
      .transplantation-cont {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        overflow: hidden;
        #curve-line {
          position: relative;
          top: -1em;
        }
        i {
          padding: .1em;
        }

        .fa-departure {
          color: rgb(0, 52, 107);
        }
        .fa-arrival {
          color: #ff00d9;
          transform: rotate(90deg);
        }
        .fa-transplantation-all {
          //display: none;
          position: absolute;
          color: red;
          z-index: 1;
        }

        .fa-transplantation-num_1 {
          left: 41%;
          height: 2.7em;
        }
        .fa-transplantation-num_2 {
          left: 44.5%;
          height: 3.9em;
        }
        .fa-transplantation-num_3 {
          left: 48%;
          height: 4.5em;
        }
        .fa-transplantation-num_4 {
          left: 51.5%;
          height: 3.9em;
        }
        .fa-transplantation-num_5 {
          left: 55%;
          height: 2.7em;
        }


      }
      .arrival-cont {
        color: #ff00d9;
        header {
          h4 {

            font-weight: 600;
          }
        }
        section {

        }
      }
    }
  }
  .item-amount {
    width: 20%;
    background-color: #f4f2f4;
    color: rgb(0, 52, 107);
    header {

      height: 3em;
      background: none;
      > span {
        width: 100%;
        text-align: center;
        span {
          color: red;
        }
      }

    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 12em;
      padding: 1em .5em;
      .amount {

        h2 {
          display: inline;
        }
      }
      > p {
        font-size: .8em;
        color: #888;
      }
      button {
        width: 100%;
      }
    }
  }
}